@use "../../../../styles.scss";

.screen {
  width: 100vw;
  height: 100vh;
  transform-origin: top left;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .time {
    width: 100%;
    height: 100px;
    position: relative;
    overflow-x: visible;
    background-color: black;

    .sky {
      background: rgb(0, 162, 255);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .container {
      position: relative;
      width: calc(100% - 96px);
      height: 100px;

      .sun {
        position: absolute;
      }
    }

    .night-sky {
      background-image: url("/assets/stars.webp");
      width: 100%;
      height: 100%;

      .container {
        width: 100%;

        .moon {
          position: absolute;

          .left,
          .right {
            position: absolute;
            width: 32px;
            height: 64px;
            bottom: 0;
          }

          .right {
            border-top-right-radius: 32px;
            border-bottom-right-radius: 32px;
            left: 32px;
          }

          .left {
            border-top-left-radius: 32px;
            border-bottom-left-radius: 32px;
          }

          .shadow {
            background-color: #111;
          }

          .light {
            background-color: #ffb;
          }

          .middle,
          .middle:after {
            position: absolute;
            border-radius: 50%;
            width: 64px;
            height: 64px;
            bottom: 0px;
            left: 0;
            backface-visibility: hidden;
            transform-style: preserve-3d;
          }

          .middle {
            background-color: #111;
            z-index: 1;
          }

          .middle:after {
            content: "";
            background-color: #ffb;
            transform: rotateY(180deg);
          }
        }
      }
    }
  }

  .columns {
    border-top: 10px solid rgb(86, 40, 0);
    display: flex;
    flex: 1;
    overflow: hidden;
    z-index: 1;

    .left {
      background-color: rgb(237, 223, 210);
      padding: 0 10px;
      position: relative;
      max-width: 250px;

      .calendar {
        width: 250px;
        height: 300px;
        background-image: url("/assets/paper.webp");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        padding-top: 50px;
        font-family: "Caveat", serif;

        .day {
          font-size: 150px;
          line-height: 140px;
          margin-left: -30px;
          font-weight: bold;
        }

        .month {
          font-size: 50px;
          line-height: 50px;
        }

        .year {
          font-size: 30px;
          line-height: 30px;
        }

        .year-name {
          font-size: 18px;
        }
      }

      .rounds {
        background-color: white;
        text-align: center;
        margin: 0 20px;
        padding: 20px 20px 40px;

        .title {
          font-weight: bold;
          font-size: 30px;
          line-height: 30px;
          margin-bottom: 20px;
        }

        .round {
          font-weight: bold;
          font-size: 100px;
          line-height: 100px;
        }
      }

      .character {
        display: block;
        margin: 20px;
        max-width: 100%;
        height: 150px;

        &.next {
          max-width: 50%;
          height: 100px;
          margin: 20px auto;
          opacity: 0.5;
        }
      }
    }

    .image {
      flex: 1;
      background-color: white;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .quote {
      position: absolute;
      left: 0;
      right: 0;
      width: fit-content;
      margin-inline: auto;
      bottom: 0;
      transform: scale(3);
      transform-origin: bottom center;
    }
  }
}

.image-only {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &.image-cover {
    img {
      object-fit: cover;
    }
  }
}
