.link {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  &.monster {
    color: #9a4d0e;
  }

  &.spell {
    color: #935cbd;
  }

  &.item {
    color: #6ec0ff;
  }

  &.god {
    color: #c2ab00;
  }

  &.place {
    color: #7b7b7b;
  }
}
