@import "../../../../mixins.scss";

:host {
  flex: 1;
  overflow: hidden;
  display: flex;
}

.box {
  display: flex;
  overflow: hidden;
}

.summary {
  display: flex;
  flex-direction: column-reverse;
  width: 150px;
  overflow: auto;
  margin-right: -8px; // Move scrollbar more to the right;
  padding-right: 8px;
  @include scrollbar;

  .entry {
    display: flex;
    flex-direction: column-reverse;

    .date {
      font-weight: bold;
    }
  }
}

.content {
  max-width: 400px;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}
