<entity
  type="item"
  [references]="item.references.toString()"
  [bases]="item.common.bases"
  [overview]="overview"
  baseType="item"
  [collapsed]="collapsed"
  (full)="onFull()"
  (collapse)="collapse.emit()"
  (expand)="expand.emit()"
>
  <div name class="name">
    <span class="multiple" *ngIf="item.multiple > 1"> {{item.multiple}}x</span>
    {{item.name}}
  </div>
  <div subtitle>
    {{item.type}}

    <ng-container *ngIf="item.subTitles.length">
      (<ng-container *ngFor="let subtitle of item.subTitles; last as last"
        >{{subtitle | lowercase}}<ng-container *ngIf="!last">, </ng-container> </ng-container
      >)
    </ng-container>
  </div>

  <div class="incomplete" *ngFor="let incomplete of item.common.incompletes">
    {{incomplete}}
  </div>

  <labeled-text label="Value" *ngIf="item.value.text">
    {{item.value.text}}
    <ng-container *ngIf="item.monetary"> (monetary)</ng-container>
    <ng-container *ngIf="item.multiple > 1"> (total {{item.totalValue.text}})</ng-container>
  </labeled-text>
  <labeled-text label="Weight">
    {{item.weight.text}}
    <ng-container *ngIf="item.multiple > 1"> (total {{item.totalWeight.text}})</ng-container>
  </labeled-text>
  <labeled-text label="Size">{{item.size}}</labeled-text>

  <taper></taper>

  <labeled-text label="Material" *ngIf="!item.substance.empty || item.armorClass || item.hitPoints">
    AC {{item.armorClass}}, {{item.hitPoints}} hp
    <ng-container *ngIf="!item.substance.empty">
      ({{item.substance.text | lowercase}}<ng-container *ngIf="item.fragile">, fragile</ng-container>)
    </ng-container>
  </labeled-text>
  <labeled-text label="Probability">{{item.probability}}</labeled-text>

  <ng-container *ngIf="item.weapon">
    <div class="title">Weapon</div>

    <labeled-text label="Damage">
      {{item.weapon.damage}}
    </labeled-text>
    <labeled-text *ngIf="item.weapon.properties.length" label="Properties">
      <span *ngFor="let property of item.weapon.properties; last as last" [matTooltip]="property.description">
        {{property}}<ng-container *ngIf="!last">, </ng-container>
      </span>
    </labeled-text>
  </ng-container>

  <ng-container *ngIf="item.armor">
    <div class="title">Armor</div>

    <labeled-text label="AC">{{item.armor.ac | modifier}}</labeled-text>
    <labeled-text label="Maximum Dexterity" *ngIf="item.armor.maxDexterity < 100">
      {{item.armor.maxDexterity}}
      <ng-container *ngIf="item.armor.stealthDisadvantage"> (disadvantage on stealth)</ng-container>
    </labeled-text>
    <labeled-text label="Minimum Strength" *ngIf="item.armor.minStrength > 0">{{item.armor.minStrength}}</labeled-text>
  </ng-container>

  <ng-container *ngIf="item.magic">
    <div class="title">Magic</div>

    <labeled-text *ngFor="let modificator of item.magic.modificators" [label]="modificator.type.name">
      {{modificator.value | modifier}}
      <ng-container *ngIf="modificator.name"> ({{modificator.name}})</ng-container>
    </labeled-text>
  </ng-container>

  <div short><span [innerHTML]="item.shortDescription | format"></span></div>
</entity>
