<entity [hue]="170" [references]="item.references.toString()" [bases]="item.common.bases" baseType="item">
  <div name (click)="onName()" class="name">{{item.name}}</div>
  <div subtitle>
    {{item.type}}

    <ng-container *ngIf="item.subTitles.length">
      (<ng-container *ngFor="let subtitle of item.subTitles; last as last"
        >{{subtitle | lowercase}}<ng-container *ngIf="!last">, </ng-container> </ng-container
      >)
    </ng-container>
  </div>

  <labeled-text label="Value">
    {{item.value.text}}
    <ng-container *ngIf="item.monetary"> (monetary)</ng-container>
  </labeled-text>
  <labeled-text label="Weight">{{item.weight.text}}</labeled-text>
  <labeled-text label="Size">{{item.size}}</labeled-text>

  <taper></taper>

  <labeled-text label="Material" *ngIf="!item.substance.empty || item.armorClass || item.hitPoints">
    AC {{item.armorClass}}, {{item.hitPoints}} hp
    <ng-container *ngIf="!item.substance.empty">
      ({{item.substance.text | lowercase}}<ng-container *ngIf="item.fragile">, fragile</ng-container>)
    </ng-container>
  </labeled-text>
  <labeled-text label="Probability">{{item.probability}}</labeled-text>

  <ng-container *ngIf="item.weapon">
    <div class="title">Weapon</div>

    <labeled-text label="Damage">
      {{item.weapon.damage}}<ng-container *ngIf="item.weapon.versatile"
        >, {{item.weapon.damageTwoHanded}} two-handed</ng-container
      >
    </labeled-text>
    <labeled-text *ngIf="item.weapon.properties.length" label="Properties">
      <span
        *ngFor="let property of item.weapon.properties; last as last"
        [matTooltip]="item.weapon.getPropertyDescription(property)"
      >
        {{property}}<ng-container *ngIf="!last">, </ng-container>
      </span>
    </labeled-text>
  </ng-container>

  <div short><span [innerHTML]="item.shortDescription | format"></span></div>
</entity>
