<h1>Miniature Locations</h1>

<p>The order of locations is relevant. The first location that matches a miniature is associated with the miniature.</p>

<div class="locations" cdkDropList (cdkDropListDropped)="onDropLocation($event)">
  <div class="location" *ngFor="let location of locations" cdkDrag (click)="onEdit(location)">
    <location class="name" [label]="location.name" [type]="location.style()"></location>
    <div class="filters" *ngIf="location.summaries.length">
      <div *ngFor="let summary of location.summaries()">{{ summary }}</div>
    </div>
    <div *ngIf="!location.summaries.length">(empty)</div>
    <button mat-icon-button color="primary" (click)="onAdd(location)"><mat-icon>add</mat-icon></button>
    <button mat-icon-button color="primary" (click)="onDelete(location)"><mat-icon>delete</mat-icon></button>
    <location *cdkDragPreview class="name" [label]="location.name" [type]="location.style()"></location>
  </div>
</div>

<div class="buttons">
  <button mat-stroked-button color="primary" (click)="onCancel()">Cancel</button>
  <button mat-flat-button color="primary" (click)="onSave()">Save</button>
</div>
