<about-text></about-text>

<div class="attributions">
  <h1>Attributions</h1>

  <div class="attribution">
    <img src="assets/map.png" />
    <a target="_blank" href="https://www.flaticon.com/de/autoren/vectorsmarket15">vectorsmarket15</a>
  </div>
  <div class="attribution">
    <img src="assets/mountains.png" />
    <a target="_blank" href="https://www.freepik.com/free-vector/mountains-rocks-flat-icon-collection_8610212.htm">
      freepik - pch.vector
    </a>
  </div>
  <div class="attribution">
    <img src="assets/sun.png" />
    <a target="_blank" href="https://icons8.com/icon/8LM7-CYX4BPD/sun">Sun</a>&nbsp;icon by&nbsp;
    <a target="_blank" href="https://icons8.com">Icons8</a>
  </div>

  <div class="attribution">
    <img src="/assets/moon.png" />
    <a href="https://www.flaticon.com/free-icons/moon" title="moon icons">Moon icons created by Freepik - Flaticon</a>
  </div>
</div>
