<p class="warning">You must login to use most of the DMA features, as personalized storage does not work otherwise.</p>

<p>The Dungeon Master Assistant (DMA) is a tool for Dungeon Masters to manage D&D 5e games.</p>

<p>It is currently in its very early stages. It currently provides the following features:</p>

<ul>
  <li>
    <b>Miniatures:</b>
    Provide information about many D&D miniatures and allow to manage miniature collections (locations, count, search).
  </li>
  <li>
    <b>Campaigns:</b>
    Add information about campaigns, adventures and individual encounters. This gives DM necessary information about
    monsters, items or spells while playing.
  </li>
  <li>
    <b>Map Screen:</b>
    Predefined map for some locations that can be easily controller and displayed on a separate screen - for example a
    TV lying flat on the table as battle map. The map supports layers to allow room by room discovery of locations.
  </li>
  <li>
    <b>Campaign Screen:</b>
    Show vital campaign information on a seperate screen to give players additional information about play:"
    <ul>
      <li>The rough time via a sun/moon display, including moon phases.</li>
      <li>The date of the campaign, in dale reckoning.</li>
      <li>The number of the round if a battle is happening.</li>
      <li>
        A context specic image, relevant to the current play. This can be either an url manually entered or an image
        selected from a monster, item, or encounter.
      </li>
    </ul>
  </li>
</ul>

<p>Most of the feature require a Google account in order to be able to store any data.</p>

<p>
  <b>DMA is currently in ALPHA stage. Expect many changes, broken things and potential data loss.</b>
</p>

<p>
  If you are missing a feature, a monster, spell or item, or have ideas for improvement, please contact
  <a href="mailto:dma@ixitxachitls.net" target="_blank">dma&#64;ixitxachitls.net</a>
</p>
