<page>
  <page-title> About DMA </page-title>

  <div class="center">
    <about-text></about-text>

    <div class="attributions">
      <h1>Attributions</h1>

      <div class="attribution">
        <img src="assets/map.png" />
        <a target="_blank" href="https://www.flaticon.com/de/autoren/vectorsmarket15">vectorsmarket15</a>
      </div>
      <div class="attribution">
        <img src="assets/sun.png" />
        <a target="_blank" href="https://icons8.com/icon/8LM7-CYX4BPD/sun">Sun</a>&nbsp;icon by&nbsp;
        <a target="_blank" href="https://icons8.com">Icons8</a>
      </div>

      <div class="attribution">
        <img src="/assets/moon.png" />
        <a href="https://www.flaticon.com/free-icons/moon" title="moon icons"
          >Moon icons created by Freepik - Flaticon</a
        >
      </div>

      <div class="attribution">
        <img src="/assets/no-image.webp" />
        No Image by ainul muttaqin from
        <a href="https://thenounproject.com/browse/icons/term/no-image/" target="_blank" title="No Image Icons"
          >Noun Project</a
        >
        (CC BY 3.0)
      </div>

      <div class="attribution">
        <img src="assets/monsters.webp" />
        <a href="https://firefly.adobe.com/">Adobe Firefly</a>
      </div>
      <div class="attribution">
        <img src="assets/compass.webp" />
        <a href="https://firefly.adobe.com/">Adobe Firefly</a>
      </div>
      <div class="attribution">
        <img src="assets/library.webp" />
        <a href="https://firefly.adobe.com/">Adobe Firefly</a>
      </div>
      <div class="attribution">
        <img src="assets/scrolls.webp" />
        <a href="https://firefly.adobe.com/">Adobe Firefly</a>
      </div>
      <div class="attribution">
        <img src="assets/monster.webp" />
        <a href="https://firefly.adobe.com/">Adobe Firefly</a>
      </div>
      <div class="attribution">
        <img src="assets/backpack.webp" />
        <a href="https://firefly.adobe.com/">Adobe Firefly</a>
      </div>
      <div class="attribution">
        <img src="assets/DMA.webp" />
        <a href="https://firefly.adobe.com/">Adobe Firefly</a>
      </div>
    </div>
  </div>
</page>
