@use "@angular/material" as mat;
@import "../colors";
@import "../styles";
@import "../../../styles";

.category {
  font-size: 12px;
  color: mat.get-color-from-palette($primary, "lighter");
}

.title {
  font-size: $size-title;
  text-align: center;
  margin: 10px auto;
  font-weight: bold;
  color: mat.get-color-from-palette($primary);
  width: fit-content;

  .text {
    display: inline-block;
    padding: 10px;
    border-bottom: 4px solid mat.get-color-from-palette($accent);
  }

  .action {
    top: 8px;
  }
}
