<toolbar></toolbar>

<div class="main">
  <div class="left">
    <ng-content select="[left]"></ng-content>
  </div>

  <div class="center">
    @if (withTitle()) {
      <page-title>
        <ng-content select="[title]"></ng-content>
      </page-title>
    }

    <div class="content">
      <ng-content></ng-content>
    </div>
  </div>

  <div class="right">
    <ng-content select="[right]"></ng-content>
  </div>
</div>

<div class="actions">
  <ng-content select="button[mat-fab]"></ng-content>
</div>

<footer></footer>
