:host {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 90vh; // Did not manage to achieve height better, unfortunately.
  box-sizing: border-box;
}

.content {
  display: flex;
  flex: 1;

  .left {
    display: flex;
    flex-direction: column;

    .filters {
      margin-bottom: 10px;
    }

    filter {
      margin: 10phx 0;
    }

    .miniatures {
      width: 100%;
      flex: 1;

      textarea {
        resize: none;
        height: 100%;
      }
    }
  }

  .miniatures-grid {
    flex: 1;
    margin-left: 20px;
    display: flex;
    flex-direction: column;

    entities-grid {
      flex: 1;
    }

    .buttons {
      margin: 20px;
      text-align: center;

      button + button {
        margin-left: 5px;
      }
    }
  }
}
