@import '../../colors';
@import '../../styles';

.container {
  max-height: 100%;
  height: 100%;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;

  .grid {
    margin-left: 45px;
  }

  .filter {
    position: absolute;
    color: $color-primary;
    top: 0;
    left: 0;

    mat-icon {
      font-size: $size-title;
      left: -2px;
      position: relative;
    }
  }

  .location {
    position: absolute;
    color: $color-primary;
    top: 48px;
    left: 0;
  }

  .filter:hover,
  .location:hover {
    color: $color-accent;
  }
}
