@import '../../colors';
@import '../../styles';

:host {
  max-height: 100%;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.filter {
  position: absolute;
  color: $color-primary;
  top: 15px;
  left: 20px;

  mat-icon {
    font-size: $size-title;
    left: -2px;
    position: relative;
  }
}

.location {
  position: absolute;
  color: $color-primary;
  top: 15px;
  left: 50px;
}

.filter:hover, 
.location:hover {
  color: $color-accent;
}

.miniatures {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  align-content: flex-start;
}

.pagination {
  margin: auto;
  display: flex;
  align-items: center;
}
