@import '../../../colors.scss';

:host {
  height: 100%;
}

.columns {
  display: flex;

  .encounters {
    max-width: 500px;
    margin: 20px auto;
  }

  .encounter {
    flex: 1;
    margin: 45px 20px 20px;

    .label {
      font-weight: bold;
      min-width: 75px;
      display: inline-block;
    }

    .monsters {
      margin-top: 20px;

      .monster {
        display: flex;

        .count {
          border-radius: 50%;
          background-color: $color-primary;
          color: white;
          font-weight: bold;
          height: fit-content;
          margin-right: 5px;
          padding: 10px;
        }
      }
    }

    .spells {
      margin-top: 20px;
    }
  }
}

button[mat-fab] {
  margin-right: 5px;
}
