<page>
  <div title>{{adventure?.name}}</div>

  <div class="columns">
    <div class="left">
      <mat-form-field appearance="fill" class="encounters">
        <mat-label>Encounter</mat-label>
        <mat-select [(ngModel)]="currentEncounter" name="encounter" (ngModelChange)="onEncounterChange()">
          <mat-option *ngFor="let encounter of adventure?.encounters" [value]="encounter">
            {{encounter.id}} - {{encounter.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="images" *ngIf="currentEncounter">
        <div class="image-container" *ngFor="let image of currentEncounter.images">
          <img class="image" [src]="image" />
          <screen-image-button *ngIf="campaign" [campaign]="campaign" [image]="image"></screen-image-button>
        </div>
      </div>
    </div>
    <div class="encounter" *ngIf="!!currentEncounter">
      <div class="line">
        <div class="label">Location:</div>
        {{currentEncounter.locations.join('; ')}}
      </div>

      <div class="line" *ngIf="currentEncounter.notes.length">
        <div class="label">Notes:</div>
        <ul>
          <li *ngFor="let note of currentEncounter.notes">{{note}}</li>
        </ul>
      </div>

      <div class="monsters">
        <div class="monster" *ngFor="let monster of currentEncounter.monsters">
          <div class="column">
            <div class="count">{{monster[0]}} x</div>
            <div class="miniatures">
              <div class="title">Miniatures:</div>
              <div>
                <div *ngFor="let miniature of currentEncounter.miniatures.get(monster[1].name)">
                  {{miniature.count}}x {{miniature.miniature}} ({{miniature.location}})
                </div>
              </div>
            </div>
          </div>
          <monster [monster]="monster[1]" [campaign]="campaign"></monster>
        </div>
      </div>

      <div class="items">
        <div class="item" *ngFor="let item of currentEncounter.items">
          <div class="count">{{item[0]}} x</div>
          <item [item]="item[1]" [campaign]="campaign"></item>
        </div>
      </div>

      <div class="spells">
        <spell *ngFor="let spell of currentEncounter.spells" [spell]="spell"></spell>
      </div>
    </div>
  </div>

  <button mat-fab color="primary" (click)="onAdd()">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-fab color="primary" (click)="onEdit()" [disabled]="!currentEncounter">
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-fab color="primary" (click)="onMini()" [disabled]="!currentEncounter">
    <img src="/assets/xanathar.png" />
  </button>
  <button mat-fab color="primary" (click)="onDelete()" [disabled]="!currentEncounter">
    <mat-icon>delete</mat-icon>
  </button>
</page>
