<page [withTitle]="true">
  <div title>{{adventure?.name}}</div>

  <div class="columns">
    <div class="left">
      @if (previousEncounter) {
      <div class="navigation" (click)="onEncounterChange(previousEncounter)">
        {{previousEncounter.id}} - {{previousEncounter.name}}
      </div>
      }
      <mat-form-field appearance="fill" class="encounters">
        <mat-label>Encounter</mat-label>
        <mat-select
          [(ngModel)]="currentEncounter"
          name="encounter"
          (ngModelChange)="onEncounterChange(currentEncounter)"
        >
          <mat-option *ngFor="let encounter of adventure?.encounters" [value]="encounter">
            {{encounter.id}} - {{encounter.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="navigation" *ngIf="nextEncounter" (click)="onEncounterChange(nextEncounter)">
        {{nextEncounter.id}} - {{nextEncounter.name}}
      </div>

      <div class="images" *ngIf="currentEncounter">
        <div class="image-container" *ngFor="let image of currentEncounter.imageSources">
          <img class="image" [src]="image" />
          <screen-image-button *ngIf="campaign" [campaign]="campaign" [image]="image"></screen-image-button>
        </div>
      </div>
    </div>
    <div class="encounter" *ngIf="!!currentEncounter">
      <div class="line">
        <div class="label">Location:</div>
        {{currentEncounter.locations.join('; ')}}
        <ng-container *ngIf="currentEncounter.map"> (map {{currentEncounter.map}})</ng-container>
      </div>

      <div class="line" *ngIf="currentEncounter.notes.length">
        <div class="label">Notes:</div>
        <ul>
          <li *ngFor="let note of currentEncounter.notes">{{note}}</li>
        </ul>
      </div>

      <div class="entities-collapsed">
        <ng-container *ngFor="let npc of currentEncounter.npcs">
          <npc
            class="npc"
            *ngIf="npc.collapsed"
            [npc]="npc.value[0]"
            [campaign]="campaign"
            [collapsed]="true"
            (expand)="npc.expand()"
          ></npc>
        </ng-container>
      </div>

      <div class="npcs">
        <ng-container *ngFor="let npc of currentEncounter.npcs">
          <div class="npc" *ngIf="!npc.collapsed">
            <div #miniatures class="miniatures">
              <div class="title">Miniature:</div>
              <div>{{npc.value[1].miniature}}</div>
            </div>
            <npc [npc]="npc.value[0]" [campaign]="campaign" [collapsed]="false" (collapse)="npc.collapse()"></npc>
          </div>
        </ng-container>
      </div>

      <div class="entities-collapsed">
        <ng-container *ngFor="let monster of currentEncounter.monsters">
          <monster
            class="monster"
            *ngIf="monster.value.collapsed"
            [monster]="monster.value.value"
            [campaign]="campaign"
            [collapsed]="true"
            (expand)="monster.value.expand()"
          ></monster>
        </ng-container>
      </div>

      <div class="monsters">
        <ng-container *ngFor="let monster of currentEncounter.monsters">
          <div class="monster" *ngIf="!monster.value.collapsed">
            <div class="column">
              <div class="count">{{monster.count}} x</div>
              <div #miniatures class="miniatures">
                <div class="title">Miniatures:</div>
                <div>
                  <div *ngFor="let miniature of currentEncounter.miniatures.get(monster.value.value.name)">
                    {{miniature.count}}x {{miniature.miniature}} ({{miniature.location}})
                  </div>
                </div>
              </div>
            </div>
            <monster
              [monster]="monster.value.value"
              [campaign]="campaign"
              [collapsed]="false"
              (collapse)="monster.value.collapse()"
            ></monster>
          </div>
        </ng-container>
      </div>

      <div class="entities-collapsed">
        <ng-container *ngFor="let item of currentEncounter.items">
          <item
            class="item"
            *ngIf="item.value.collapsed"
            [item]="item.value.value"
            [campaign]="campaign"
            [collapsed]="true"
            (expand)="item.value.expand()"
          ></item>
        </ng-container>
      </div>

      <div class="items">
        <ng-container *ngFor="let item of currentEncounter.items">
          <div class="item" *ngIf="!item.value.collapsed">
            <div class="count">{{item.count}} x</div>
            <item
              [item]="item.value.value"
              [campaign]="campaign"
              [collapsed]="false"
              (collapse)="item.value.collapse()"
            ></item>
          </div>
        </ng-container>
      </div>

      <div class="entities-collapsed">
        <ng-container *ngFor="let spell of currentEncounter.spells">
          <spell *ngIf="spell.collapsed" [spell]="spell.value" [collapsed]="true" (expand)="spell.expand()"></spell>
        </ng-container>
      </div>

      <div class="spells">
        <ng-container *ngFor="let spell of currentEncounter.spells">
          <spell
            *ngIf="!spell.collapsed"
            [spell]="spell.value"
            [collapsed]="false"
            (collapse)="spell.collapse()"
          ></spell>
        </ng-container>
      </div>
    </div>
  </div>

  <button mat-fab color="primary" (click)="onAdd()">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-fab color="primary" (click)="onEdit()" [disabled]="!currentEncounter">
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-fab color="primary" (click)="onMini()" [disabled]="!currentEncounter">
    <img src="/assets/xanathar.png" />
  </button>
  <button mat-fab color="primary" (click)="onDelete()" [disabled]="!currentEncounter">
    <mat-icon>delete</mat-icon>
  </button>
  <button mat-fab color="primary" (click)="onSummarize()">
    <mat-icon>summarize</mat-icon>
  </button>
</page>
