.area {
  border-radius: 5px;
  border: 1px solid #aaa;
  position: relative;
  padding: 10px;

  .title {
    position: absolute;
    font-size: 10px;
    color: #aaa;
    top: -10px;
    background: white;
    padding: 0 5px;
  }
}
