@if (campaign()) {
  <expanding-box
    [closeOnClick]="false"
    [showClose]="true"
    placement="bottom"
    positionTarget="toolbar"
    (shown)="shown.set(true)"
  >
    <div class="summary">
      @if (map && map.name) {
        <img class="image" src="/assets/maps{{ map.thumbnail }}" />
      } @else {
        No map selected
      }
    </div>
    <div title>Map</div>
    @if (shown()) {
      <div content class="content">
        <map-setup [campaign]="campaign()"></map-setup>
      </div>
    }
  </expanding-box>
}
