@use "@angular/material" as mat;
@use "../../colors";
@use "../../../../styles";
@use "../../../../mixins";
@use "../../../../variables" as var;

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
}

.screen {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .current {
    margin: 0;
    position: relative;

    .canvas {
      background-color: #fafafa;
      position: relative;

      .map-rotate {
        width: 100%;
        height: 100%;
      }

      .map {
        position: absolute;
        z-index: 1;
        margin: 0;

        img {
          position: absolute;
          width: inherit;
          height: inherit;
        }
      }

      .token {
        position: absolute;
        cursor: move;

        &.cdk-drag-dragging {
          outline: 2px solid red;
        }

        img {
          transform-origin: top left;
        }

        .origin {
          position: absolute;
          top: 0;
          left: 0;
          width: 5px;
          height: 5px;
          background: red;
          opacity: 0.5;
        }
      }

      .tv {
        position: relative;
        top: 100px;
        left: 200px;
        overflow: hidden;

        .border {
          position: absolute;
          pointer-events: none;
          z-index: 2;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          outline: 1px solid black;
          border: 1px solid white;
        }

        grid {
          z-index: 2;
          position: absolute;
          pointer-events: none;
        }
      }

      .no-level {
        color: white;
        font-size: 20px;
        margin: 50px 50px;
      }
    }

    .positions {
      position: absolute;
      z-index: 1;
      right: 50px;
      top: 250px;
      background: rgba(250, 250, 250, 0.5);
      text-align: center;

      mat-icon:hover {
        color: mat.m2-get-color-from-palette(var.$accent);
      }
    }

    .rotate {
      position: absolute;
      z-index: 1;
      right: 50px;
      top: 370px;

      background: rgba(250, 250, 250, 0.5);

      mat-icon:hover {
        color: mat.m2-get-color-from-palette(var.$accent);
      }

      .label {
        position: relative;
        top: -8px;
        margin-left: 5px;
      }
    }

    .levels {
      z-index: 1;
      top: 10px;
      left: 10px;
      bottom: 10px;
      background: rgba(250, 250, 250, 0.5);
      position: absolute;
      width: 180px;
      overflow: auto;
      @include mixins.scrollbar;

      .level {
        position: relative;

        .name {
          font-size: 14px;
          cursor: pointer;
          flex: 1;

          &.selected {
            font-weight: 500;
          }
        }

        .selection {
          width: 100%;
          display: flex;
          font-size: 12px;
          line-height: 12px;
          padding: 2px 2px 2px 12px;
          color: mat.m2-get-color-from-palette(var.$primary);
          box-sizing: border-box;

          .name {
            flex: 1;
            text-overflow: ellipsis;
            overflow: hidden;
          }

          .icon {
            color: #aaa;
            padding: 0 2px;
            font-size: 16px;
            width: fit-content;

            &:hover,
            &.selected:hover {
              color: mat.m2-get-color-from-palette(var.$accent);
            }

            &.selected {
              color: mat.m2-get-color-from-palette(var.$primary);
            }
          }

          &:hover {
            color: mat.m2-get-color-from-palette(var.$accent);
          }
        }
      }

      .title {
        margin-top: 20px;
        font-size: 14px;
        font-weight: 500;
        text-align: left;
      }

      .token {
        display: flex;
        justify-content: space-between;
        cursor: pointer;

        &:hover {
          color: mat.m2-get-color-from-palette(var.$accent);
        }

        &.current {
          color: mat.m2-get-color-from-palette(var.$accent);
        }
      }
    }
  }
}
