<h1 class="title">
  {{ map()?.name }}
  <button mat-fab color="primary" (click)="onScreen()" matTooltip="Open map screen">
    <mat-icon>monitor</mat-icon>
  </button>
</h1>

<div #screen class="screen">
  <div class="current">
    <!--- Elements have scale width/height instead of 'transform: scale' to avoid issues with drag events not taking // scaling
    into account. --->
    <div #canvas class="canvas" [style.width]="tvWidth() + 400 + 'px'" [style.height]="tvHeight() + 200 + 'px'">
      <div
        [style.width]="width() + 'px'"
        [style.height]="height() + 'px'"
        [style.left]="x() + 200 + 'px'"
        [style.top]="y() + 100 + 'px'"
        #maps
        class="map"
        cdkDrag
        (cdkDragEnded)="onDragEnd($event)"
      >
        <div class="map-rotate" [style.transform]="'rotate(' + rotation() + 'deg)'">
          @if (currentLevel()) {
            @if (currentLevel()?.masks?.length === 0 || shownMasks() !== "") {
              <img
                ngSrc="/assets/maps/{{ currentLevel()?.path }}"
                fill
                [style.maskImage]="shownMasks()"
                [style.maskSize]="width() + 'px ' + height() + 'px'"
                [style.maskPosition]="'0 0'"
              />
            }
            @if (previewMasks() !== "") {
              <img
                ngSrc="/assets/maps/{{ currentLevel()?.path }}"
                fill
                [style.maskImage]="previewMasks()"
                [style.maskSize]="width() + 'px ' + height() + 'px'"
                [style.maskPosition]="'0 0'"
                [style.opacity]="'0.5'"
              />
            }
            @for (layer of currentLevel()?.layers || []; track layer.name) {
              @if (layer.shown || layer.preview) {
                <img src="/assets/maps/{{ layer.path }}" [style.opacity]="layer.shown ? '1' : '0.5'" />
              }
            }
            @for (token of tokens(); track token) {
              <div
                class="token"
                (contextmenu)="onToken(token, $event)"
                cdkDrag
                (cdkDragEnded)="onTokenDragEnd(token, $event)"
                [cdkDragConstrainPosition]="constrainTokenDrag"
                [style.width]="token.widthPx * this.tokenScale() + 'px'"
                [style.height]="token.heightPx * this.tokenScale() + 'px'"
                [style.left]="token.x() * this.mapScale() + 'px'"
                [style.top]="token.y() * this.mapScale() + 'px'"
              >
                <img
                  [src]="token.token()?.image"
                  [style.transform]="'rotate(' + token.rotation() + 'deg)'"
                  [style.transform-origin]="
                    (token.originXPx || 0) * this.tokenScale() +
                    'px ' +
                    (token.originYPx || 0) * this.tokenScale() +
                    'px'
                  "
                />
                <div
                  class="origin"
                  [style.top.px]="(token.originYPx || 0) * this.tokenScale()"
                  [style.left.px]="(token.originXPx || 0) * this.tokenScale()"
                ></div>
              </div>
            }
          } @else {
            <div class="no-level">No level selected!</div>
          }
        </div>
      </div>

      <div
        #tv
        class="tv"
        [style.backgroundColor]="map()?.background"
        [style.width]="tvWidth() + 'px'"
        [style.height]="tvHeight() + 'px'"
      >
        <div class="border"></div>
        @if (campaign()?.map()?.grid()) {
          <grid
            [width]="tvWidth()"
            [height]="tvHeight()"
            [distance]="(map()?.pxPerSquare || 100) * mapScale()"
            [style.top]="tvOffsetY() + 'px'"
            [style.left]="tvOffsetX() + 'px'"
          ></grid>
        }
      </div>
    </div>

    <div class="positions">
      <button
        mat-icon-button
        [color]="campaign()?.map()?.grid() ? 'accent' : 'primary'"
        (click)="onGridToggle()"
        title="Select a token"
      >
        <mat-icon>grid_4x4</mat-icon>
      </button>

      <button mat-icon-button color="primary" (click)="onTokenSelection()" title="Select a token">
        <mat-icon>token</mat-icon>
      </button>

      <div>
        <mat-icon (click)="onPosition(0, 0)">north_west</mat-icon>
        <mat-icon (click)="onPosition(1, 0)">north</mat-icon>
        <mat-icon (click)="onPosition(2, 0)">north_east</mat-icon>
      </div>
      <div>
        <mat-icon (click)="onPosition(0, 1)">west</mat-icon>
        <mat-icon (click)="onPosition(1, 1)">adjust</mat-icon>
        <mat-icon (click)="onPosition(2, 1)">east</mat-icon>
      </div>
      <div>
        <mat-icon (click)="onPosition(0, 2)">south_west</mat-icon>
        <mat-icon (click)="onPosition(1, 2)">south</mat-icon>
        <mat-icon (click)="onPosition(2, 2)">south_east</mat-icon>
      </div>

      <div>
        {{ formatPosition() }}
      </div>

      <div>
        <mat-icon (click)="onRotate(-1)">rotate_left</mat-icon>
        <mat-icon (click)="onRotate(+1)">rotate_right</mat-icon>
      </div>
      <div class="label">{{ getRotation() }}°</div>
    </div>

    <div class="levels">
      @for (level of levels(); track level.base) {
        <div class="level">
          <div class="name" (click)="onLevel(level.base)" [class.selected]="level.selected">
            {{ level.base ? level.base : map()?.name }}
          </div>

          @if (level.selected) {
            @for (mask of level.masks; track mask.name) {
              <div class="selection">
                <div class="name">{{ mask.name }}</div>

                <mat-icon class="icon" inline [class.selected]="mask.preview" (click)="onPreview(mask)"
                  >visibility</mat-icon
                >
                <mat-icon class="icon" inline [class.selected]="mask.shown" (click)="onShow(mask)"
                  >power_settings_new</mat-icon
                >
              </div>
            }

            @for (layer of level.layers; track layer.name) {
              <div class="selection">
                <div class="name">{{ layer.name }}</div>

                <mat-icon class="icon" inline [class.selected]="layer.preview" (click)="onPreview(layer)"
                  >visibility</mat-icon
                >
                <mat-icon class="icon" inline [class.selected]="layer.shown" (click)="onShow(layer)"
                  >power_settings_new</mat-icon
                >
              </div>
            }
          }
        </div>
      }
      <div class="level">
        <div class="name"></div>
        <button (click)="onClearMasks()">Clear</button>
      </div>

      @if (tokens()?.length || 0 > 0) {
        <div class="tokens">
          <div class="title">Tokens</div>
          @for (token of tokens(); track token) {
            <div class="token" (click)="onRemoveToken(token)">
              <div class="name">{{ token.name() }}</div>
              <mat-icon class="icon" inline>delete</mat-icon>
            </div>
          }
        </div>
      }
    </div>
  </div>
</div>
