<h1 class="title">
  {{ map()?.name }}
  <button mat-fab color="primary" (click)="onScreen()" matTooltip="Open map screen">
    <mat-icon>monitor</mat-icon>
  </button>
</h1>

<div #screen class="screen">
  <div class="current">
    <!--- Elements have scale width/height instead of 'transform: scale' to avoid issues with drag events not taking // scaling
    into account. --->
    <div #canvas class="canvas" [style.width]="tvWidth() + 400 + 'px'" [style.height]="tvHeight() + 200 + 'px'">
      <div
        #maps
        class="map"
        cdkDrag
        (cdkDragEnded)="onDragEnd($event)"
        [style.width]="width() + 'px'"
        [style.height]="height() + 'px'"
        [style.left]="x() + 200 + 'px'"
        [style.top]="y() + 100 + 'px'"
      >
        <div class="map-rotate" [style]="'transform: rotate(' + rotation() + 'deg)'">
          @if (map() && map()?.name) {
            <img ngSrc="/assets/maps/{{ map()?.path }}" fill />
          }
          @for (layer of layers(); track layer.path) {
            @if (layer.shown || previewLayers.has(layer.name)) {
              <img ngSrc="/assets/maps/{{ layer.path }}" fill />
            }
          }
          @for (token of tokens(); track token) {
            <div
              class="token"
              (contextmenu)="onToken(token, $event)"
              cdkDrag
              (cdkDragEnded)="onTokenDragEnd(token, $event)"
              [cdkDragConstrainPosition]="constrainTokenDrag"
              [style.width]="token.widthPx * this.tokenScale() + 'px'"
              [style.height]="token.heightPx * this.tokenScale() + 'px'"
              [style.left]="token.x() * this.mapScale() + 'px'"
              [style.top]="token.y() * this.mapScale() + 'px'"
            >
              <img
                src="/assets/tokens/{{ token.token()?.image || '' }}"
                [style.transform]="'rotate(' + token.rotation() + 'deg)'"
              />
              <div class="origin"></div>
            </div>
          }
        </div>
      </div>

      <div
        #tv
        class="tv"
        [style.backgroundColor]="map()?.background"
        [style.width]="tvWidth() + 'px'"
        [style.height]="tvHeight() + 'px'"
      >
        <div class="border"></div>
        @if (campaign()?.map()?.grid()) {
          <grid
            [width]="tvWidth()"
            [height]="tvHeight()"
            [distance]="(map()?.pxPerSquare || 100) * mapScale()"
            [style.top]="tvOffsetY() + 'px'"
            [style.left]="tvOffsetX() + 'px'"
          ></grid>
        }
      </div>
    </div>

    <div class="positions">
      <button
        mat-icon-button
        [color]="campaign()?.map()?.grid() ? 'accent' : 'primary'"
        (click)="onGridToggle()"
        title="Select a token"
      >
        <mat-icon>grid_4x4</mat-icon>
      </button>

      <button mat-icon-button color="primary" (click)="onTokenSelection()" title="Select a token">
        <mat-icon>token</mat-icon>
      </button>

      <div>
        <mat-icon (click)="onPosition(0, 0)">north_west</mat-icon>
        <mat-icon (click)="onPosition(1, 0)">north</mat-icon>
        <mat-icon (click)="onPosition(2, 0)">north_east</mat-icon>
      </div>
      <div>
        <mat-icon (click)="onPosition(0, 1)">west</mat-icon>
        <mat-icon (click)="onPosition(1, 1)">adjust</mat-icon>
        <mat-icon (click)="onPosition(2, 1)">east</mat-icon>
      </div>
      <div>
        <mat-icon (click)="onPosition(0, 2)">south_west</mat-icon>
        <mat-icon (click)="onPosition(1, 2)">south</mat-icon>
        <mat-icon (click)="onPosition(2, 2)">south_east</mat-icon>
      </div>

      <div>
        {{ formatPosition() }}
      </div>

      <div>
        <mat-icon (click)="onRotate(-1)">rotate_left</mat-icon>
        <mat-icon (click)="onRotate(+1)">rotate_right</mat-icon>
      </div>
      <div class="label">{{ getRotation() }}°</div>
    </div>

    <div class="layers">
      @for (layer of layers(); track layer.path) {
        <div class="layer">
          <div class="name">{{ layer.name }}</div>

          <mat-icon class="icon" inline [class.selected]="previewLayers.has(layer.name)" (click)="onLayerPreview(layer)"
            >visibility</mat-icon
          >
          <mat-icon class="icon" inline [class.selected]="layer.shown" (click)="onLayerShow(layer)"
            >power_settings_new</mat-icon
          >
        </div>
      }

      <div class="layer">
        <div class="name"></div>
        <button (click)="onClearLayers()">Clear</button>
      </div>
    </div>
  </div>
</div>
