<div class="canvas" [style.background]="map()?.background">
  <div
    class="image"
    [style.transform]="'scale(' + scale() + ')'"
    [style.left]="left() + 'px'"
    [style.top]="top() + 'px'"
  >
    <div class="rotate" [style.transform]="'rotate(' + rotation() + 'deg)'">
      @if (map()?.path) {
        <img src="/assets/maps/{{ map()?.path }}" />
      }
      @for (layer of layers(); track layer) {
        <img class="layer" src="/assets/maps/{{ layer }}" />
      }
      @for (token of tokens(); track token) {
        token
        <img
          class="token"
          src="/assets/tokens/{{ token.name() }}.webp"
          [style.left]="token.x() + 'px'"
          [style.top]="token.y() + 'px'"
        />
      }
    </div>
  </div>
</div>
