<dma-dialog title="Initiative" (cancel)="onCancel()" (save)="onSave()">
  @for (participant of participants; track participant; let i = $index) {
    <div class="line">
      <mat-form-field appearance="fill" subscriptSizing="dynamic">
        <mat-label [attr.for]="'participant-' + i">{{ participant.label }}</mat-label>
        <input #input matInput id="participant-{{ i }}" type="number" [formControl]="participant.control" />
        @if (input.value) {
          <mat-icon matSuffix (click)="input.value = ''">clear</mat-icon>
        }
      </mat-form-field>
      @if (participant.type === CreatureType.monster) {
        <mat-icon (click)="onAdvantage(participant)">refresh</mat-icon>
      }
    </div>
  }
</dma-dialog>
