:host {
  display: flex;
  align-items: center;
}

.intro {
  display: inline-block;
  margin: 0 10px;

  .title {
    font-weight: bold;
    font-size: 14px;
  }
}

.participants {
  position: relative;
}

initiative-participant {
  width: 75px;
}

button {
  margin: 0 5px;
}
