@use "../../colors.scss";

.participant {
  padding: px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(205, 205, 0);
  overflow: hidden;
  margin: 2px;
  cursor: move;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  overflow: visible;

  .conditions {
    position: absolute;
    top: -2px;
    left: 0;
    text-align: left;
    transform: rotate(180deg);
    transform-origin: top;
    z-index: 2;

    .condition {
      font-size: 8px;
      border-radius: 5px;
      border: 1px solid colors.$color-condition;
      padding: 0 4px;
      background-color: white;
      transform: rotate(180deg);
    }

    &.vertical {
      transform: none;
      top: 5px;
      right: 5px;
      left: unset;
      width: fit-content;

      .condition {
        transform: none;
      }
    }
  }

  profile-picture {
    z-index: 1;
    position: relative;
  }

  &.horizontal {
    display: inline-block;
    max-width: 60px;

    img {
      height: 50px;
    }
  }

  .caption {
    font-size: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: -4px 0;
  }
}

.round {
  background-color: rgb(190, 104, 0);
  padding: 2px;
  margin: 2px;
  border-radius: 5px;
  text-align: center;

  &.horizontal {
    writing-mode: vertical-rl;
    text-orientation: upright;
    display: inline-block;
    font-size: 11px;
    letter-spacing: -3px;
    height: 68px;
  }
}

::ng-deep .initiative-participant-menu {
  .checkbox {
    min-width: 130px;
  }
}
