@import '../../colors';

.tile {
  padding: 10px;
  border: 1px solid $color-border;
  text-align: center;
  width: fit-content;
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: $color-text;

  .image-container {
    height: 150px;
    display: flex;

    .image {
      max-width: 150px;
      max-height: 150px;  
      align-self: flex-end;
    }  
  }

  .title {
    padding-top: 10px;
    font-size: 20px;
    font-weight: 600;
  }

  &:hover {
    outline: 2px solid $color-border;
  }
}