@import '../../colors';

.tile {
  padding: 10px;
  border: 1px solid $color-border;
  text-align: center;
  width: fit-content;
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: $color-text;
  margin: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  .image-container {
    height: 150px;
    display: flex;

    .image {
      max-width: 150px;
      max-height: 150px;
      margin: auto;
      align-self: flex-end;
    }
  }

  .title {
    padding-top: 10px;
    font-size: 20px;
    font-weight: 600;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.64) 0px 3px 8px;
  }
}