:host {
  overflow: hidden;
}

.campaign {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;

  page-title {
    button {
      position: relative;
      top: -5px;
      margin-bottom: -15px;
    }
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;

    .adventures {
      margin: 20px;
      flex: 1;
      display: flex;
      overflow: visible;
      flex-wrap: wrap;
    }

    .characters {
      margin: 20px 20px 30px;
      flex: 1;
      display: flex;
      overflow: visible;
      flex-wrap: wrap;
    }
  }

  .actions {
    margin: 20px 32px;
  }
}