<div class="campaign" *ngIf="campaign">

  <page-title [text]="campaign?.name || ''">
    <button mat-icon-button color="primary" (click)="onEdit()">
      <mat-icon>edit</mat-icon>
    </button>
  </page-title>

  <div class="content">
    <div class="adventures">
      <selection-tile *ngFor="let adventure of campaign.adventures" [title]="adventure.name"
        [image]="adventure.image" target="adventure/{{adventure.name}}" type="small">
      </selection-tile>
    </div>

    <div class="characters">
      <selection-tile *ngFor="let character of campaign.characters" [title]="character.name"
        [image]="character.image" target="character/{{character.name}}" type="small">
      </selection-tile>
    </div>
  </div>

  <div class="actions">
    <button mat-fab color="primary" (click)="onXP()">XP</button>
  </div>

</div>