<page [withTitle]="false">
  <h1 class="title"><img src="assets/DMA.webp" /></h1>

  <!-- Don's show anything before we know whether the user is logged in or not (avoids flashes). -->
  @if (user !== undefined) {
    @if (user) {
      <div class="tiles">
        <selection-tile title="Campaigns" image="compass.webp" target="campaigns"></selection-tile>
        <selection-tile title="Miniatures" image="monsters.webp" target="miniatures"></selection-tile>
        <selection-tile title="Library" image="library.webp" target="library"></selection-tile>
      </div>
    } @else {
      <div class="notes">
        <about-text></about-text>
      </div>
    }
  }
</page>
