:host {
  display: block; // Somehow <title> seem to be display none in the browser?
  height: 100%;
}

.title {
  text-align: center;
  font-weight: 500;
  font-size: 30px;
}

.logo {
  margin: 50px auto 10px;
  width: 300px;
  max-width: 100%;
}

.tiles {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px auto;
  flex-wrap: wrap;
}

.statistics {
  color: #444;
  font-size: 12px;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

.note {
  text-align: center;
  max-width: 500px;
  margin: 0 auto 50px;
}

.notes {
  margin: 50px auto;
  width: 600px;
}
