@import '../../colors';

:host {
  display: block; // Somehow <title> seem to be display none in the browser?
}

.tiles {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;

  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.notes {
  margin: 50px auto;
  width: 600px;
}
