<div class="incomplete" *ngFor="let incomplete of monster.common.incompletes">
  {{incomplete}}
</div>

<labeled-text label="Armor Class">
  <value [value]="monster.armorClass" [inline]="true"></value>
</labeled-text>
<labeled-text label="Hit Points">{{monster.hitDice.average}} ({{monster.hitDice}})</labeled-text>
<labeled-text label="Speed">{{monster.speeds.join(', ')}}</labeled-text>

<taper></taper>

<div class="abilities">
  <div class="ability" *ngFor="let ability of monster.abilities.abilities">
    <div class="name">{{ability.type.short}}</div>
    <div class="value">
      {{ability.value}} ({{ability.modifier | modifier}})
    </div>
  </div>
</div>

<taper></taper>

<labeled-text *ngIf="monster.savingThrows.length" label="Saves">
  <span *ngFor="let savingThrow of monster.savingThrows; last as last">
    {{savingThrow.ability}} <value [value]="savingThrow.value"></value><ng-container *ngIf="!last">, </ng-container>
  </span>
</labeled-text>
<labeled-text label="Skills">
  <div *ngFor="let skill of monster.filterSkills(overview); last as last" class="skill" [class.skilled]="skill.skilled">
    {{skill.name}} <value [value]="skill.modifier"></value>{{last ? '' : ',&nbsp;'}}
  </div>
</labeled-text>
<labeled-text label="Damage Immunities" *ngIf="monster.damageImmunities.length > 0">
  <span *ngFor="let immunity of monster.damageImmunities; last as last">
    {{immunity}}{{last ? '' : ', '}}
  </span>
</labeled-text>
<labeled-text label="Damage Resistances" *ngIf="monster.damageResistances.length > 0">
  <span *ngFor="let resistance of monster.damageResistances; last as last">
    {{resistance}}{{last ? '' : ', '}}
  </span>
</labeled-text>
<labeled-text label="Damage Vulnerabilities" *ngIf="monster.damageVulnerabilities.length > 0">
  <span *ngFor="let vulnerability of monster.damageVulnerabilities; last as last">
    {{vulnerability}}{{last ? '' : ', '}}
  </span>
</labeled-text>
<labeled-text label="Condition Immunities" *ngIf="monster.conditionImmunities.length > 0">
  <span *ngFor="let immunity of monster.conditionImmunities; last as last">
    {{immunity}}{{last ? '' : ', '}}
  </span>
</labeled-text>
<labeled-text label="Senses">
  <ng-container *ngIf="monster.senses.text"> {{monster.senses}}, </ng-container>passive Perception
  {{monster.passivePerception}}
</labeled-text>
<labeled-text label="Languages">
  <ng-container *ngIf="monster.languages.text">{{monster.languages.text}}</ng-container>
  <ng-container *ngIf="!monster.languages.text">&mdash;</ng-container>
</labeled-text>
<labeled-text label="Challenge">{{monster.challenge}} ({{monster.xp}} XP)</labeled-text>
<labeled-text label="Proficiency Bonus" *ngIf="!overview">+{{monster.proficiency}}</labeled-text>

<taper></taper>
