<page class="campaign" *ngIf="campaign">
  <page-title action="edit" tooltip="Edit Campaign" (clicked)="onEdit()"> {{ campaign.name }} </page-title>

  <div left class="left">
    <adventure-box [campaign]="campaign"></adventure-box>
    <date-time-box [campaign]="campaign"></date-time-box>
    <party-box [campaign]="campaign"></party-box>
    <xp-box
      [characters]="campaign.characters"
      [encounterMonsters]="campaign.adventure()?.currentEncounter?.monsters || []"
    ></xp-box>
    <screen-box [campaign]="campaign" [screenImage]="campaign.screenImage"></screen-box>
    <map-selection-box [campaign]="campaign"></map-selection-box>
    <map-box [campaign]="campaign"></map-box>
    <library-box [campaign]="campaign"></library-box>
  </div>

  <div class="content">
    <encounters class="encounter" [adventure]="campaign.adventure()"></encounters>
  </div>

  <div right class="right">
    <events-box [campaign]="campaign"></events-box>
    <journal-box [campaign]="campaign" [entries]="campaign.journal"></journal-box>
  </div>
</page>
