@use "@angular/material" as mat;
@use "../../../../variables" as var;

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 160px;

  .picture {
    position: relative;
    overflow: hidden;

    .border {
      width: 140px;
      height: 140px;
    }

    .image {
      position: absolute;
      width: 120px;
      height: 120px;
      object-fit: contain;
      left: 10px;
      top: 20px;
      z-index: -1;
    }
  }

  .name {
    position: absolute;
    top: 125px;
    left: 5px;
    width: 140px;
    height: 140px;

    text {
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      fill: #444;
    }

    path {
      fill: transparent;
    }
  }

  &:hover .name text {
    color: mat.m2-get-color-from-palette(var.$accent);
  }
}
