@use "@angular/material" as mat;
@use "../../../../variables" as var;

.container {
  position: relative;
  padding-bottom: 15%;
  overflow: hidden;

  .picture {
    position: relative;
    overflow: hidden;

    .border {
      width: 100%;
      display: block;
    }

    .image {
      position: absolute;
      height: 80%;
      object-fit: contain;
      left: 5%;
      top: 15%;
      z-index: -1;
    }
  }

  .name {
    position: absolute;
    bottom: -65%;
    left: 3%;
    width: 100%;

    text {
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      fill: #444;
    }

    path {
      fill: transparent;
    }
  }

  &:hover .name text {
    color: mat.m2-get-color-from-palette(var.$accent);
  }
}
