<div class="container">
  <div class="picture">
    <img
      class="border"
      alt="profile picture border"
      [src]="monster() ? '/assets/portrait monster.png' : '/assets/portrait character.png'"
    />
    <img class="image" [alt]="name()" [src]="image()" />
    <div class="overlays">
      <div class="overlay" (click)="onDrink($event)">
        @if (character()?.daysWithoutDrink() || 0 > 0) {
          <mat-icon class="material-symbols-outlined">water_drop</mat-icon>
          <div class="text">
            {{ character()?.daysWithoutDrink() }}
          </div>
          <a href=""></a>
        }
      </div>
      <div class="overlay" (click)="onFood($event)">
        @if (character()?.daysWithoutFood() || 0 > 0) {
          <mat-icon class="material-symbols-outlined">nutrition</mat-icon>
          <div class="text">{{ character()?.daysWithoutFood() }}</div>
        }
      </div>
    </div>
  </div>

  <div class="name">
    <svg viewBox="0 0 150 150">
      <path id="curve" d="M 0 0 a 85 70 0 0 0 140 0" />

      <text>
        <textPath href="#curve" startOffset="50%" text-anchor="middle">
          {{ name() }}
        </textPath>
      </text>
    </svg>
  </div>
</div>
