<div class="spell">
  <div class="bar"></div>

  <div class="content">
    <div class="name">{{spell.name}}</div>
    <div class="level">
      <span [ngSwitch]="spell.level">
        <span *ngSwitchCase="0">Cantrip</span>
        <span *ngSwitchCase="1">1st level</span>
        <span *ngSwitchCase="2">2nd level</span>
        <span *ngSwitchCase="3">3rd level</span>
        <span *ngSwitchDefault>{{spell.level}th level</span>
      </span>
      {{spell.school}}
    </div>

    <taper></taper>

    <labeled-text label="Classes">{{spell.classes.join(', ')}}</labeled-text>
    <labeled-text label="Casting Time">{{spell.castingTime}}</labeled-text>
    <labeled-text label="Duration">{{spell.duration}}</labeled-text>
    <labeled-text label="Range">{{spell.range}}</labeled-text>
    <labeled-text label="Target">{{spell.target}}</labeled-text>
    <labeled-text label="Components">
      {{spell.component_verbose ? 'V' : ''}} {{spell.component_somatic ? 'S' : ''}} {{spell.component_material ? 'M' :
      ''}}
      <span *ngIf="spell.materials">({{spell.materials.join(' and ')}})</span>
    </labeled-text>

    <taper></taper>

    <div class="description formatted" [innerHTML]="spell.description | format"></div>

    <labeled-text class="formatted" label="At Higher Levels">
      <span [innerHTML]="spell.higherLevels | format"></span>
    </labeled-text>

    <div class="references">
      {{spell.references}}
    </div>
  </div>

  <div class="bar"></div>
</div>
