.line {
  display: flex;
  flex-direction: row;

  .input {
    flex: 1;
  }
}

.button {
  transform: scale(0.5);
}

.add-button {
  white-space: nowrap;
}

.content {
  min-height: 20px;
  position: relative;
}

area-container {
  position: relative;
  display: block;
  margin-top: 10px;
}
