<div class="content">
  @for (value of allValues; track value; let i = $index) {
    <div class="line">
      <editors
        #editor
        [field]="field().nonRepeated"
        [value]="value"
        class="input"
        [entityType]="entityType()"
        [autocompleteType]="autocompleteType()"
        (changed)="changed.emit()"
      ></editors>
      <button mat-icon-button color="primary" (click)="onRemove(i)" class="button">
        <mat-icon>remove</mat-icon>
      </button>
    </div>
  }

  <button mat-icon-button color="primary" (click)="onAdd()" class="button add-button">
    <mat-icon>add</mat-icon> &nbsp; {{ field().name }}
  </button>
</div>
