@if (field().repeated) {
  @switch (field().type) {
    @case (ProtoInfoFieldType.string) {
      <string-array-editor
        #editor
        [field]="field()"
        [value]="field().get(value())"
        [entityType]="entityType()"
      ></string-array-editor>
    }

    @case (ProtoInfoFieldType.number) {
      <number-array-editor
        #editor
        [field]="field()"
        [value]="field().get(value())"
        [entityType]="entityType()"
      ></number-array-editor>
    }

    @case (ProtoInfoFieldType.enum) {
      <enum-array-editor
        #editor
        [field]="field()"
        [value]="field().get(value())"
        [entityType]="entityType()"
      ></enum-array-editor>
    }

    @case (ProtoInfoFieldType.message) {
      <message-array-editor
        #editor
        [field]="field()"
        [value]="field().get(value())"
        [entityType]="entityType()"
      ></message-array-editor>
    }

    @case (ProtoInfoFieldType.range) {
      <range-array-editor
        #editor
        [field]="field()"
        [value]="field().get(value())"
        [entityType]="entityType()"
      ></range-array-editor>
    }

    @default {
      <div>Unknown field() type for repeated field() {{ field().name }}</div>
    }
  }
} @else {
  @switch (field().type) {
    @case (ProtoInfoFieldType.string) {
      <string-editor
        #editor
        [field]="field()"
        [value]="field().get(value())"
        [entityType]="entityType()"
      ></string-editor>
    }

    @case (ProtoInfoFieldType.number) {
      <number-editor
        #editor
        [field]="field()"
        [value]="field().get(value())"
        [entityType]="entityType()"
      ></number-editor>
    }

    @case (ProtoInfoFieldType.boolean) {
      <boolean-editor
        #editor
        [field]="field()"
        [value]="field().get(value())"
        [entityType]="entityType()"
      ></boolean-editor>
    }

    @case (ProtoInfoFieldType.enum) {
      <enum-editor #editor [field]="field()" [value]="field().get(value())" [entityType]="entityType()"></enum-editor>
    }

    @case (ProtoInfoFieldType.message) {
      <message-editor
        #editor
        [field]="field()"
        [value]="field().get(value())"
        [label]="field().name"
        [entityType]="entityType()"
      ></message-editor>
    }

    @case (ProtoInfoFieldType.range) {
      <range-editor #editor [field]="field()" [value]="field().get(value())" [entityType]="entityType()"></range-editor>
    }

    @case (ProtoInfoFieldType.reference) {
      <reference-editor
        #editor
        [field]="field()"
        [value]="field().get(value())"
        [entityType]="entityType()"
      ></reference-editor>
    }

    @default {
      <div>Unknown field type for {{ field().name }}</div>
    }
  }
}
