@if (field().repeated) {
  <array-editor
    #editor
    [field]="field()"
    [value]="anyValue()"
    [entityType]="entityType()"
    (changed)="changed.emit()"
  ></array-editor>
} @else {
  @switch (field().type) {
    @case (ProtoInfoFieldType.string) {
      <string-editor
        #editor
        [field]="field()"
        [value]="anyValue()"
        [entityType]="entityType()"
        (changed)="changed.emit()"
      ></string-editor>
    }

    @case (ProtoInfoFieldType.number) {
      <number-editor
        #editor
        [field]="field()"
        [value]="anyValue()"
        [entityType]="entityType()"
        (changed)="changed.emit()"
      ></number-editor>
    }

    @case (ProtoInfoFieldType.boolean) {
      <boolean-editor
        #editor
        [field]="field()"
        [value]="anyValue()"
        [entityType]="entityType()"
        (changed)="changed.emit()"
      ></boolean-editor>
    }

    @case (ProtoInfoFieldType.enum) {
      <enum-editor
        #editor
        [field]="field()"
        [value]="anyValue()"
        [entityType]="entityType()"
        (changed)="changed.emit()"
      ></enum-editor>
    }

    @case (ProtoInfoFieldType.message) {
      <message-editor
        #editor
        [field]="field()"
        [value]="anyValue()"
        [label]="field().name"
        [entityType]="entityType()"
        (changed)="changed.emit()"
      ></message-editor>
    }

    @case (ProtoInfoFieldType.link) {
      <link-editor
        #editor
        [field]="field()"
        [value]="anyValue()"
        [entityType]="entityType()"
        (changed)="changed.emit()"
      ></link-editor>
    }

    @case (ProtoInfoFieldType.range) {
      <range-editor
        #editor
        [field]="field()"
        [value]="anyValue()"
        [entityType]="entityType()"
        (changed)="changed.emit()"
      ></range-editor>
    }

    @default {
      <div>Unknown field type for {{ field().name }}</div>
    }
  }
}
