<div class="line">
  <mat-form-field class="field" appearance="fill">
    <mat-label>{{ field().name }}</mat-label>
    <input #input matInput [type]="field().inputType" [formControl]="control" [value]="value" [placeholder]="hint" />
  </mat-form-field>
  @if (field().fieldMetadata?.formatted) {
    <button mat-icon-button color="primary" class="button" (click)="toggleFormatted()">
      <mat-icon>article</mat-icon>
    </button>
  }
</div>
@if (field().fieldMetadata?.formatted && showFormatted) {
  <formatted-text class="formatted-text" [text]="input.value"></formatted-text>
}
