<div class="line">
  <mat-form-field class="field" appearance="fill" subscriptSizing="dynamic">
    <mat-label>{{ field().name }}</mat-label>
    <mat-autocomplete #auto="matAutocomplete">
      @if (allOptions().length) {
        @for (option of filteredOptions | async; track option) {
          <mat-option [value]="option">{{ option }}</mat-option>
        }
      }
    </mat-autocomplete>
    <input
      #input
      matInput
      [type]="field().inputType"
      [formControl]="control"
      [value]="value"
      [placeholder]="hint"
      [matAutocomplete]="auto"
    />
  </mat-form-field>
  @if (field().fieldMetadata?.formatted) {
    <button mat-icon-button color="primary" class="button" (click)="toggleFormatted()">
      <mat-icon>article</mat-icon>
    </button>
  }
</div>
@if (field().fieldMetadata?.formatted && showFormatted) {
  <formatted-text class="formatted-text" [text]="input.value"></formatted-text>
}
