.field {
  width: 100%;
}

.line {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;

  .button {
    margin-left: 10px;
    bottom: 2px;
    transform: scale(0.5);
  }

  .button2 {
    margin-left: 10px;
    bottom: 2px;
  }
}

.formatted-text {
  margin: -10px 0 10px;
  display: block;
}
