@if (field().repeated) {
  <array-editor #editor [field]="field()" [value]="anyValue()" [entityType]="entityType()"></array-editor>
} @else {
  @switch (field().type) {
    @case (ProtoInfoFieldType.string) {
      <string-editor #editor [field]="field()" [value]="anyValue()" [entityType]="entityType()"></string-editor>
    }

    @case (ProtoInfoFieldType.number) {
      <number-editor #editor [field]="field()" [value]="anyValue()" [entityType]="entityType()"></number-editor>
    }

    @case (ProtoInfoFieldType.boolean) {
      <boolean-editor #editor [field]="field()" [value]="anyValue()" [entityType]="entityType()"></boolean-editor>
    }

    @case (ProtoInfoFieldType.enum) {
      <enum-editor #editor [field]="field()" [value]="anyValue()" [entityType]="entityType()"></enum-editor>
    }

    @case (ProtoInfoFieldType.message) {
      <message-editor
        #editor
        [field]="field()"
        [value]="anyValue()"
        [label]="field().name"
        [entityType]="entityType()"
      ></message-editor>
    }

    @case (ProtoInfoFieldType.range) {
      <range-editor #editor [field]="field()" [value]="anyValue()" [entityType]="entityType()"></range-editor>
    }

    @default {
      <div>Unknown field type for {{ field().name }}</div>
    }
  }
}
