@use "../../../../mixins.scss";

.category {
  margin-bottom: 20px;
  display: flex;

  .label {
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: 8px;
  }

  .values {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
}

.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.container {
  display: flex;
  flex: 1;
  position: relative;
  overflow: hidden;

  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .accordion {
      flex: 1;
      overflow: auto;
      @include mixins.scrollbar;
    }

    button + button {
      margin-left: 10px;
    }
  }

  .right {
    flex: 2;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    overflow: hidden;

    .editor {
      flex: 1;
      overflow: auto;
      @include mixins.scrollbar;
    }

    .store {
      margin: 10px auto;
    }

    button + button {
      margin-left: 10px;
    }
  }

  .preview {
    margin-left: 10px;
    max-width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    .row {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 10px 1px 0 0;
      max-width: 140mm;
    }

    .images {
      margin: 20px auto;

      .image {
        max-width: 200px;
        max-height: 200px;
      }
    }
    .description {
      @include mixins.scrollbar;
      padding: 20px;
      overflow: auto;
    }
  }
}

.buttons {
  margin: 10px auto;
}

formatted-text {
  margin-bottom: 10px;
}

.accordion {
  margin-top: 20px;
  display: block;

  .header {
    background-color: #ececec;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    padding: 20px;

    &:hover {
      background-color: #dcdcdc;
    }
  }

  .body {
    max-height: 20vh;
    overflow: auto;
    @include mixins.scrollbar;

    .entity {
      padding: 5px 20px;
      cursor: pointer;

      &:hover {
        background-color: #dcdcdc;
      }
    }
  }

  .item {
    border: solid 1px #ececec;
    display: block;
    overflow: hidden;
  }

  .item + .item {
    border-top: none;
  }

  .item:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .item:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}
