<page [sidebars]="false">
  <page-title>Entity Editor</page-title>

  @if (proto) {
    <div class="page">
      <div class="container">
        <div class="left">
          @if (info.root()) {
            <message-editor
              #editor
              [field]="info.rootField()"
              [value]="proto"
              labelOverride=""
              entityType=""
            ></message-editor>
          }

          <cdk-accordion class="accordion" [multi]="false">
            <ng-container
              *ngTemplateOutlet="entities; context: { entities: proto.getNpcsList(), name: 'NPC', plural: 'Npcs' }"
            ></ng-container>

            <ng-container
              *ngTemplateOutlet="
                entities;
                context: { entities: proto.getMonstersList(), name: 'Monster', plural: 'Monsters' }
              "
            ></ng-container>

            <ng-container
              *ngTemplateOutlet="entities; context: { entities: proto.getItemsList(), name: 'Item', plural: 'Items' }"
            ></ng-container>

            <ng-container
              *ngTemplateOutlet="
                entities;
                context: { entities: proto.getSpellsList(), name: 'Spell', plural: 'Spells' }
              "
            ></ng-container>

            <ng-container
              *ngTemplateOutlet="
                entities;
                context: { entities: proto.getEncountersList(), name: 'Encounter', plural: 'Encounters' }
              "
            ></ng-container>

            <ng-container
              *ngTemplateOutlet="
                entities;
                context: { entities: proto.getConditionsList(), name: 'Condition', plural: 'Conditions' }
              "
            ></ng-container>

            <ng-container
              *ngTemplateOutlet="
                entities;
                context: { entities: proto.getGlossariesList(), name: 'Glossary', plural: 'Glossaries' }
              "
            ></ng-container>

            <ng-container
              *ngTemplateOutlet="
                entities;
                context: { entities: proto.getProductsList(), name: 'Product', plural: 'Products' }
              "
            ></ng-container>

            <ng-container
              *ngTemplateOutlet="entities; context: { entities: proto.getTrapsList(), name: 'Trap', plural: 'Traps' }"
            ></ng-container>

            <ng-container
              *ngTemplateOutlet="
                entities;
                context: { entities: proto.getMiniaturesList(), name: 'Miniature', plural: 'Miniatures' }
              "
            ></ng-container>

            <ng-container
              *ngTemplateOutlet="entities; context: { entities: proto.getMapsList(), name: 'Map', plural: 'Maps' }"
            ></ng-container>

            <ng-container
              *ngTemplateOutlet="
                entities;
                context: { entities: proto.getTokensList(), name: 'Token', plural: 'Tokens' }
              "
            ></ng-container>
          </cdk-accordion>

          <div class="buttons">
            <button mat-flat-button color="primary" (click)="onSave()">Save</button>
            <button mat-stroked-button color="primary" (click)="onClose()">Close</button>
            <button mat-stroked-button color="primary" (click)="onConvert()">Convert</button>
          </div>
        </div>

        <div class="right">
          @if (editing && editing.field) {
            <div class="editor">
              <message-editor
                #entityEditor
                [field]="editing.field"
                [value]="editing.message"
                [labelOverride]="editing.name"
                [entityType]="editing.name"
                (changed)="onPreviewUpdate()"
              ></message-editor>
            </div>

            <div class="buttons">
              <button mat-flat-button color="primary" class="store" (click)="onCopy()">Copy</button>
              <button mat-flat-button color="primary" class="store" (click)="onDuplicate()">Duplicate</button>
              <button mat-flat-button color="primary" class="store" (click)="onDelete(editing.field, editing.index)">
                Delete
              </button>
              <button mat-flat-button color="primary" class="store" (click)="onStore(editing.field, editing.index)">
                Store
              </button>
              <button mat-stroked-button color="primary" class="close" (click)="onCancel()">Cancel</button>
              <button mat-stroked-button color="primary" class="close" (click)="onEntityConvert()">Convert</button>
            </div>
          }
        </div>
        <div class="preview">
          @if (entity() && editing && editing.field) {
            <div class="images">
              @for (image of entity().images; track image) {
                <img class="image" [src]="image.url" />
              }
            </div>

            @switch (editing.name) {
              @case ("Monster") {
                <monster [monster]="entity()" [collapsed]="false"></monster>
              }
              @case ("Item") {
                <item [item]="entity()" [collapsed]="false"></item>
                <div class="row">
                  <item-card [item]="entity()" [imageIndex]="0" [flippable]="true" id="Entity Editor"></item-card>
                  <item-card [item]="entity()" id="Entity Editor"></item-card>
                </div>
              }
              @case ("Spell") {
                <spell-card [spell]="entity()" [imageIndex]="1" [flippable]="true"></spell-card>
              }
              @case ("Condition") {
                <condition [condition]="entity()" [collapsed]="false"></condition>
              }
              @case ("Glossary") {
                <glossary [glossary]="entity()" [collapsed]="false"></glossary>
              }
              @case ("NPC") {
                <npc [npc]="entity()" [collapsed]="false"></npc>
              }
              @case ("Product") {
                <product [product]="entity()" [collapsed]="false"></product>
              }
              @case ("Encounter") {
                <encounter-entity [encounter]="entity()"></encounter-entity>
              }
              @case ("Miniature") {
                <miniature [miniature]="entity()"></miniature>
              }
              @case ("Trap") {
                <trap [trap]="entity()" [collapsed]="false"></trap>
              }
              @default {
                No preview available for {{ editing.name }}
              }
            }

            <div class="description">
              <formatted-text [texts]="entity().common.descriptions"></formatted-text>

              @if (entity().common.quote.message) {
                <div class="format-quote">
                  <div class="format-quote-content">
                    <formatted-text [text]="entity().common.quote.message"></formatted-text>
                    <div class="format-quote-source">
                      <formatted-text [text]="entity().common.quote.source"></formatted-text>
                    </div>
                  </div>
                </div>
              }
            </div>
          }
        </div>
      </div>
    </div>
  } @else {
    <div class="category">
      <div class="label">Assets:</div>
      <div class="values">
        @for (asset of ASSETS; track asset.name) {
          <button mat-flat-button color="primary" (click)="onOpen(asset.file)">{{ asset.name }}</button>
        }
      </div>
    </div>

    <div class="category">
      <button mat-flat-button color="primary" (click)="onOpenLocal()">Open Local File</button>
    </div>
  }
</page>

<ng-template #entities let-entities="entities" let-name="name" let-plural="plural">
  @if (proto) {
    <cdk-accordion-item #item="cdkAccordionItem" class="item">
      <div class="header" (click)="item.toggle()">
        <div>{{ plural }}</div>
        <mat-icon>{{ item.expanded ? "keyboard_arrow_up" : "keyboard_arrow_down" }}</mat-icon>
      </div>
      <div class="body" [style.display]="item.expanded ? '' : 'none'">
        <div
          class="entity"
          (click)="
            onEntity(
              name,
              info.rootAllField().getNested(plural),
              info.rootAllField().getNested(plural)!.create()!,
              entities.length,
              entities.length + 1
            )
          "
        >
          Add new {{ name }}
        </div>
        @if (copy && copy.type === name) {
          <div
            class="entity"
            (click)="
              onEntity(
                copy.type,
                info.rootAllField().getNested(plural),
                copy.message,
                entities.length,
                entities.length + 1
              )
            "
          >
            Paste {{ copy.name }}
          </div>
        }

        @for (entity of entities; track entity; let index = $index) {
          <div
            class="entity"
            (click)="onEntity(name, info.rootAllField().getNested(plural), entity, index, entities.length)"
          >
            {{ versionedName(entity) }}
          </div>
        }
      </div>
    </cdk-accordion-item>
  }
</ng-template>
