<div class="container">
  <div class="content">
    @for (value of allValues; track value; let i = $index) {
      <div class="line">
        <message-editor
          #editor
          [field]="field().nonRepeated"
          [value]="value"
          class="input"
          [label]="field().name"
        ></message-editor>
        <button mat-icon-button color="primary" (click)="onRemove(i)" class="button" [title]="'Remove ' + field().name">
          <mat-icon>remove</mat-icon>
        </button>
      </div>
    }
  </div>

  <button mat-icon-button color="primary" (click)="onAdd()" class="button add-button" [title]="'Add ' + field().name">
    <mat-icon>add</mat-icon>{{ field().name }}
  </button>
</div>
