@if (labelOverride() !== "") {
  <area-container [name]="displayLabel()" class="container">
    @for (subfield of field().subfields; track subfield) {
      <editors
        #editor
        [field]="subfield"
        [entityType]="entityType()"
        [autocompleteType]="autocompleteType()"
        [value]="subfield.get(value())"
        (changed)="changed.emit()"
      ></editors>
    }
  </area-container>
} @else {
  @for (subfield of field().subfields; track subfield) {
    <editors
      #editor
      [field]="subfield"
      [entityType]="entityType()"
      [autocompleteType]="autocompleteType()"
      [value]="subfield.get(value())"
      (changed)="changed.emit()"
    ></editors>
  }
}
