@use '@angular/material' as mat;
@import '../colors';
@import '../styles';
@import '../../../styles';

.title {
  font-size: $size-title;
  text-align: center;
  margin: 10px auto;
  font-weight: bold;
  padding: 10px;
  color: mat.get-color-from-palette($primary);
  border-bottom: 4px solid mat.get-color-from-palette($accent);
  width: fit-content;
}
