<span class="name postfix-dot">
  {{ action()?.name }}

  @if (action()?.tag || action()?.perDay || action()?.recharge !== Recharge.UNKNOWN) {
    @if (action()?.subtitle) {
      ({{ action()?.subtitle }})
    }
  }
</span>
<formatted-text [text]="action()?.description || ''"></formatted-text>
@if (action()?.trigger) {
  <span class="label">Trigger: </span>
  <formatted-text [text]="action()?.trigger || ''"></formatted-text>
}
@if (action()?.response) {
  <span class="label">Response: </span>
  <formatted-text [text]="action()?.response || ''"></formatted-text>
}
@if (action()?.saveDC || 0 > 0 || action()?.save !== AbilityType.UNKNOWN) {
  <span class="label">{{ action()?.save }} Saving Throw: </span>
  @if (action()?.saveDC || 0 > 0) {
    DC {{ action()?.saveDC }}
  }
  @if (action()?.saveDescription) {
    <formatted-text class="prefix-comma" [text]="action()?.saveDescription || ''"></formatted-text>
  }
}
@if (action()?.failure) {
  <span class="label"> Failure: </span>
  <formatted-text [text]="action()?.failure || ''"></formatted-text>
}
@if (action()?.success) {
  <span class="label"> Success: </span>
  <formatted-text [text]="action()?.success || ''"></formatted-text>
}
@if (action()?.failureOrSuccess) {
  <span class="label"> Failure or Success: </span>
  <formatted-text [text]="action()?.failureOrSuccess || ''"></formatted-text>
}
