.trait {
  margin-bottom: 5px;

  .name {
    font-weight: bold;
    font-style: italic;
  }
}

.title {
  font-variant: small-caps;
  font-size: 16px;
  border-bottom: 2px solid #58170d;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 5px 0;
}

.attack {
  margin-top: 5px;

  .name {
    font-weight: bold;
    font-style: italic;
  }

  .type {
    font-style: italic;
  }
}

.action {
  margin-top: 5px;
  display: block;

  .name {
    font-weight: bold;
    font-style: italic;
  }
}

.items {
  margin-top: 5px;
}

.v-5-24 {
  .title {
    color: #6d0000;
    border-color: #6d0000;
  }

  .label {
    font-style: italic;
  }

  .legendary.label {
    color: #444;
    line-height: 14px;
  }
}

.action + .action,
.attack + .action {
  margin-top: 10px;
}
