@use "../colors.scss";
@use "../../../mixins.scss";

.content {
  display: flex;
  padding: 20px;
}

.info-bar {
  border-top: 1px solid #c9beab;
  background-color: #f0ebdd;
  padding: 2px 4px;
  margin: 10px 20px;
}
