@for (incomplete of monster().common.incompletes; track incomplete) {
  <div class="incomplete">
    {{ incomplete }}
  </div>
}

<div class="line">
  <labeled-text label="ac" [version]="monster().common.version">
    <value [value]="monster().armorClass" [inline]="true"></value>
  </labeled-text>
  @if (monster().common.version === Version.DND_5_24) {
    <labeled-text label="initiative" [version]="monster().common.version">
      <value [value]="monster().initiative"></value> ({{ 10 + monster().initiative.total}})
    </labeled-text>
  }
</div>
<labeled-text label="hp" [version]="monster().common.version"
  >{{ monster().hitDice.average }} ({{ monster().hitDice }})
</labeled-text>
<labeled-text label="speed" [version]="monster().common.version">{{ monster().speeds.join(", ") }} </labeled-text>

@if (monster().common.version === Version.DND_5) {
  <taper></taper>

  <div class="abilities">
    @for (ability of monster().abilities.abilities; track ability) {
      <div class="ability">
        <div class="name">{{ ability.type.short }}</div>
        <div class="value">{{ ability.value }} ({{ ability.modifier | modifier }})</div>
      </div>
    }
  </div>

  <taper></taper>
}

@if (monster().common.version === Version.DND_5_24) {
  <div class="abilities-5-24">
    <ng-container *ngTemplateOutlet="abilityGroup; context: { abilities: [AbilityType.STRENGTH, AbilityType.INTELLIGENCE] }">
    </ng-container>

    <ng-container *ngTemplateOutlet="abilityGroup; context: { abilities: [AbilityType.DEXTERITY, AbilityType.WISDOM] }">
    </ng-container>

    <ng-container *ngTemplateOutlet="abilityGroup; context: { abilities: [AbilityType.CONSTITUTION, AbilityType.CHARISMA] }">
    </ng-container>
  </div>
}


@if (monster().common.version === Version.DND_5) {
  <labeled-text label="Saves" [condition]="monster().savingThrows.length > 0">
  @for (savingThrow of monster().savingThrows; track savingThrow; let last = $last) {
    <span>
      {{ savingThrow.ability }} <value [value]="savingThrow.value"></value>
      @if (!last) {
        ,
      }
    </span>
  }
  </labeled-text>
}

@if (monster().filterSkills(overview()).length > 0) {
  <labeled-text label="Skills">
    @for (skill of monster().filterSkills(overview()); track skill; let last = $last) {
      <div class="skill" [class.skilled]="skill.skilled">
        {{ skill.name }} <value [value]="skill.modifier"></value>{{ last ? "" : ",&nbsp;" }}
      </div>
    }
  </labeled-text>
}

@if (monster().common.version === Version.DND_5) {
  <labeled-text label="Damage Immunities" [condition]="monster().damageImmunities.length > 0">
    {{ monster().damageImmunities | list }}
  </labeled-text>

  <labeled-text label="Damage Resistances" [condition]="monster().damageResistances.length > 0">
    {{ monster().damageResistances | list }}
  </labeled-text>

  <labeled-text label="Damage Vulnerabilities" [condition]="monster().damageVulnerabilities.length > 0">
    {{ monster().damageVulnerabilities | list }}
  </labeled-text>

  <labeled-text label="Condition Immunities" [condition]="monster().conditionImmunities.length > 0">
      {{ monster().conditionImmunities | list }}
    </labeled-text>
} @else {
  <labeled-text label="Resistances" [condition]="monster().damageResistances.length > 0">
    {{ monster().damageResistances | list }}
  </labeled-text>

  <labeled-text label="Immunities" [condition]="monster().damageImmunities.length > 0 || monster().conditionImmunities.length > 0">
    <span [class.postfix-semicolon]="monster().damageImmunities.length > 0 && monster().conditionImmunities.length > 0">
      {{ monster().damageImmunities | list }}
    </span>
    {{ monster().conditionImmunities | list }}
  </labeled-text>

  <labeled-text label="Vulnerabilities" [condition]="monster().damageVulnerabilities.length > 0">
    {{ monster().damageVulnerabilities | list }}
  </labeled-text>
}

@if (monster().common.version === Version.DND_5_24 && monster()!.itemsUsed.length > 0) {
  <labeled-text label="Gear">
    @for (item of monster()!.itemsUsed; track item; let last = $last) {
      <reference [name]="item.name" type="item" [campaign]="campaign()" [entity]="item">{{
        item.name
      }}</reference>
      @if (!last) {
        ,
      }
   }
  </labeled-text>
}

<labeled-text label="Senses">
  @if (monster().senses.text) {
    {{ monster().senses }},
  }
  Passive Perception
  {{ monster().passivePerception }}
</labeled-text>

<labeled-text label="Languages">
  @if (monster().languages.text) {
    {{ monster().languages.text }}
  } @else {
    &mdash;
  }
</labeled-text>

<labeled-text label="Challenge">
  @if (monster().common.version === Version.DND_5_24) {
    {{ monster().challenge }} (XP {{ monster().xp }}, PB +{{monster().proficiency}})
  } @else {
    {{ monster().challenge }} ({{ monster().xp }} XP)
  }
</labeled-text>
<labeled-text label="Proficiency Bonus" [condition]="!overview">+{{ monster().proficiency }}</labeled-text>

@if (monster().common.version === Version.DND_5) {
  <taper></taper>
}

<ng-template #abilityGroup let-abilities="abilities">
  <div class="ability-group">
    <div class="labels">
      <span class="label">Mod</span>
      <span class="label">Save</span>
    </div>
    @for (type of abilities; track type; let index = $index) {
      @let ability = monster().abilities.getAbility(type);
      <div class="ability {{ index % 2 === 1 ? 'even' : 'odd' }}">
        <span class="name">{{ type.short }}</span>
        <span class="value">{{ ability.value }}</span>
        <span class="modifier">{{ ability.modifier | modifier }}</span>
        <span class="save">{{ monster().computeSave(type) | modifier }}</span>
      </div>
    }
  </div>
</ng-template>
