@if (monster()) {
  <div content class="v-{{ monster()!.common.version.short }}">
    @if (monster()!.common.version === Version.DND_5_24 && monster()!.traits.length > 0) {
      <div class="title">Traits</div>
    }

    @for (trait of monster()!.traits; track trait) {
      <div class="trait">
        <span class="name">
          {{
            trait.name +
              (trait.perDay
                ? " (" +
                  trait.perDay +
                  "/Day" +
                  (trait.lairPerDay ? ", or " + trait.lairPerDay + "/Day in Lair)." : ").")
                : ".")
          }}
        </span>
        <formatted-text [text]="trait.description"></formatted-text>
      </div>
    }

    <div class="title">Actions</div>

    @if (!monster()!.multiattack.isEmpty() || monster()!.multiattack.special) {
      <multi-attack
        [attacker]="creatureName()"
        [multiattack]="monster()!.multiattack"
        [attacks]="monster()?.attacks ?? []"
        [actions]="monster()?.actions ?? []"
        (effects)="effects.emit($event)"
      ></multi-attack>
    }

    @for (attack of monster()!.attacks; track attack) {
      <attack
        [source]="creatureName()"
        [attack]="attack"
        [version]="monster()!.common.version"
        [showRolls]="true"
        (effects)="effects.emit($event)"
      ></attack>
    }

    @for (action of monster()?.actions; track action) {
      <action class="action" [action]="action"></action>
    }

    @if (monster()!.bonusActions.length) {
      <div class="title">Bonus Actions</div>
      @for (action of monster()?.bonusActions; track action) {
        <action class="action" [action]="action"></action>
      }
    }

    @if (monster()!.reactions.length) {
      <div class="title">Reactions</div>
      @for (action of monster()?.reactions; track action) {
        <action class="action" [action]="action"></action>
      }
    }

    @if (monster()!.legendary.actions.length) {
      <div class="title">Legendary Actions</div>

      {{ monster()!.legendary.description }}
      @if (monster()!.legendary.uses) {
        <div class="legendary label">
          Legendary Action Uses:
          {{
            monster()!.legendary.uses +
              (monster()!.legendary.lairUses ? " (" + monster()!.legendary.lairUses + " in Lair)" : "")
          }}. Immediately after another creature's turn, the {{ monster()!.common.name }} can expend a use to take one
          of the folliwng actions. The {{ monster()!.common.name }} regains all expended uses at the start of each of
          its turns.
        </div>
      }

      @for (action of monster()!.legendary.actions; track action) {
        <div class="action"><action class="action" [action]="action"></action></div>
      }
    }
    @if (monster()!.itemsUsed.length || monster()!.itemsCarried.length) {
      <div class="title">Items</div>

      @if (monster()!.itemsUsed.length) {
        <div class="items">
          Used:
          @for (item of monster()!.itemsUsed; track item; let last = $last) {
            <reference [name]="item.name" type="item" [campaign]="campaign()" [entity]="item">{{
              item.name
            }}</reference>
            @if (!last) {
              ,
            }
          }
        </div>
      }
      @if (monster()!.itemsCarried.length) {
        <div class="items">
          Carried:
          @for (item of monster()!.itemsCarried; track item; let last = $last) {
            <reference [name]="item.name" type="item" [campaign]="campaign()" [entity]="item"
              >{{ item.multiple > 1 ? item.multiple + "x " : "" }}{{ item.name }}</reference
            >
            @if (!last) {
              ,
            }
          }
        </div>
      }
    }

    @if (miniatures().length > 0) {
      <div class="title">
        @if (miniatures().length > 1) {
          Miniatures
        } @else {
          Miniature
        }
      </div>
      @for (miniature of miniatures(); track miniature.miniature) {
        <div>{{ miniature.count }}x {{ miniature.miniature }} ({{ miniature.location }})</div>
      }
    }
  </div>
}
