@if (monster()) {
  <entity
    type="monster"
    [name]="monster()!.name"
    [found]="monster()!.common.found"
    [reference]="monster()!.reference"
    [bases]="monster()!.common.bases"
    baseType="monster"
    [version]="monster()!.common.version.short"
    [overview]="overview()"
    [campaign]="campaign()"
    [(collapsed)]="collapsed"
    [print]="print()"
    [count]="count()"
    (full)="onFull()"
  >
    <div subtitle>
      @if (collapsed() && monster()?.common?.bases?.length) {
        {{ monster()?.common?.bases | list }}
      } @else {
        <span>
          <span
            >{{ monster()!.size }}
            @if (monster()!.swarm) {
              Swarm of {{ monster()!.type.plural }}
            } @else {
              {{ monster()!.type.toString() }}
            }
          </span>
          @if (monster()!.tags.length) {
            <span> ({{ monster()!.tags.join(", ") }})</span>
          }</span
        >,
        {{ monster()!.alignment.toString() }}
      }
    </div>

    @if (!collapsed() || !overview) {
      <monster-values [campaign]="campaign()" [monster]="monster()!" [overview]="overview()"></monster-values>
    }
    @if (!collapsed() || !overview) {
      <monster-traits
        content
        [campaign]="campaign()"
        [monster]="monster()"
        [overview]="overview()"
        [miniatures]="miniatures()"
      ></monster-traits>
    }
  </entity>
}
