@for (incomplete of monster().common.incompletes; track incomplete) {
  <div class="incomplete">
    {{ incomplete }}
  </div>
}

<labeled-text label="Armor Class">
  <value [value]="monster().armorClass" [inline]="true"></value>
</labeled-text>
<labeled-text label="Hit Points">{{ monster().hitDice.average }} ({{ monster().hitDice }})</labeled-text>
<labeled-text label="Speed">{{ monster().speeds.join(", ") }}</labeled-text>

<taper></taper>

<div class="abilities">
  @for (ability of monster().abilities.abilities; track ability) {
    <div class="ability">
      <div class="name">{{ ability.type.short }}</div>
      <div class="value">{{ ability.value }} ({{ ability.modifier | modifier }})</div>
    </div>
  }
</div>

<taper></taper>

<labeled-text label="Saves" [condition]="monster().savingThrows.length > 0">
  @for (savingThrow of monster().savingThrows; track savingThrow; let last = $last) {
    <span>
      {{ savingThrow.ability }} <value [value]="savingThrow.value"></value>
      @if (!last) {
        ,
      }
    </span>
  }
</labeled-text>

<labeled-text label="Skills">
  @for (skill of monster().filterSkills(overview()); track skill; let last = $last) {
    <div class="skill" [class.skilled]="skill.skilled">
      {{ skill.name }} <value [value]="skill.modifier"></value>{{ last ? "" : ",&nbsp;" }}
    </div>
  }
</labeled-text>

<labeled-text label="Damage Immunities" [condition]="monster().damageImmunities.length > 0">
  {{ monster().damageImmunities | list }}
</labeled-text>

@if (monster().damageResistances.length) {
  <labeled-text label="Damage Resistances">
    {{ monster().damageResistances | list }}
  </labeled-text>
}

<labeled-text label="Damage Vulnerabilities" [condition]="monster().damageVulnerabilities.length > 0">
  {{ monster().damageVulnerabilities | list }}
</labeled-text>

<labeled-text label="Condition Immunities" [condition]="monster().conditionImmunities.length > 0">
  {{ monster().conditionImmunities | list }}
</labeled-text>

<labeled-text label="Senses">
  @if (monster().senses.text) {
    {{ monster().senses }},
  }
  passive Perception
  {{ monster().passivePerception }}
</labeled-text>

<labeled-text label="Languages">
  @if (monster().languages.text) {
    {{ monster().languages.text }}
  } @else {
    &mdash;
  }
</labeled-text>

<labeled-text label="Challenge">{{ monster().challenge }} ({{ monster().xp }} XP)</labeled-text>
<labeled-text label="Proficiency Bonus" [condition]="!overview">+{{ monster().proficiency }}</labeled-text>

<taper></taper>
