@if (monster()) {
  <div content class="v-{{ monster()!.common.version.short }}">
    @if (monster()!.common.version === Version.DND_5_24) {
      <div class="title">Traits</div>
    }

    @for (trait of monster()!.traits; track trait) {
      <div class="trait">
        <span class="name">
          {{ trait.name + (trait.perDay ? " (" + trait.perDay + "/Day)." : ".") }}
        </span>
        <formatted-text [text]="trait.description"></formatted-text>
      </div>
    }

    <div class="title">Actions</div>

    @if (!monster()!.multiattack.isEmpty()) {
      <div class="attack">
        <span class="name">Multiattack. </span>
        The {{ monster()?.name }} makes {{ monster()!.multiattack.format() }}.
      </div>

      @if (monster()!.multiattack.special) {
        <div class="attack">
          <span class="name">Multiattack. </span>
          {{ monster()!.multiattack.special }}
        </div>
      }
    }

    @for (attack of monster()!.attacks; track attack) {
      <div class="attack">
        <span class="name">{{ attack.name }}. </span>
        @if (attack.type != AttackType.UNKNOWN) {
          <span class="type">{{ attack.type }} Attack: </span>
          <value [value]="attack.toHit"></value> to hit,
          @if (attack.reach) {
            reach {{ attack.reach }} ft.
          }
          @if (attack.range) {
            range {{ attack.range }}/{{ attack.rangeMax }} ft.
          }
          @if (monster()!.common.version === Version.DND_5) {
            @switch (attack.targets) {
              @case (1) {
                , one
              }
              @default {
                , {{ attack.targets }}
              }
            }
            @switch (attack.canTarget) {
              @case (true) {
                target.
              }
              @default {
                creature.
              }
            }
          }
          <span class="label">Hit:</span>
          @for (damage of attack.hits; track damage; let last = $last) {
            <damage [damage]="damage"></damage>{{ last ? "." : " plus " }}
          }
        }
        <formatted-text [text]="attack.special"></formatted-text>
      </div>
    }

    @for (action of monster()!.actions; track action) {
      <div class="action">
        <span class="name"> {{ action.name + (action.perDay ? " (" + action.perDay + "/Day)." : ".") }} </span>
        <formatted-text [text]="action.description"></formatted-text>
        @if (action.save !== AbilityType.UNKNOWN) {
          <span class="label">{{ action.save.name }} Saving Throw: DC {{ action.saveDC }}, </span>
          <formatted-text [text]="action.condition"></formatted-text>
          @if (action.failure) {
            <span class="label"> Failure: </span>
            <formatted-text [text]="action.failure"></formatted-text>
          }
          @if (action.success) {
            <span class="label"> Success: </span>
            <formatted-text [text]="action.success"></formatted-text>
          }
          @if (action.failureOrSuccess) {
            <span class="label"> Failure or Success: </span>
            <formatted-text [text]="action.failureOrSuccess"></formatted-text>
          }
        }
      </div>
    }

    @if (monster()!.bonusActions.length) {
      <div class="title">Bonus Actions</div>
      @for (action of monster()!.bonusActions; track action) {
        <div class="action">
          <span class="name">{{ action.name }}. </span>
          <formatted-text [text]="action.description"></formatted-text>
        </div>
      }
    }

    @if (monster()!.reactions.length) {
      <div class="title">Reactions</div>
      @for (action of monster()!.reactions; track action) {
        <div class="action">
          <span class="name">{{ action.name }}. </span>
          <formatted-text [text]="action.description"></formatted-text>
        </div>
      }
    }

    @if (monster()!.legendaryActions.length) {
      <div class="title">Legendary Actions</div>

      {{ monster()!.legendaryDescription }}
      @if (monster()!.legendaryUses) {
        <span class="label">
          Legendary Action Uses: {{ monster()!.legendaryUses }}. Immediately after another creature's turn, the
          {{ monster()!.common.name }} can expend a use to take one of the folliwng actions. The
          {{ monster()!.common.name }} regains all expended uses at the start of each of its turns.
        </span>
      }

      @for (action of monster()!.legendaryActions; track action) {
        <div class="action">
          <span class="name">{{ action.name }}. </span>
          <formatted-text [text]="action.description"></formatted-text>
        </div>
      }
    }
    @if (monster()!.itemsUsed.length || monster()!.itemsCarried.length) {
      <div class="title">Items</div>

      @if (monster()!.itemsUsed.length) {
        <div class="items">
          Used:
          @for (item of monster()!.itemsUsed; track item; let last = $last) {
            <reference [name]="item.name" type="item" [campaign]="campaign()" [entity]="item">{{
              item.name
            }}</reference>
            @if (!last) {
              ,
            }
          }
        </div>
      }
      @if (monster()!.itemsCarried.length) {
        <div class="items">
          Carried:
          @for (item of monster()!.itemsCarried; track item; let last = $last) {
            <reference [name]="item.name" type="item" [campaign]="campaign()" [entity]="item"
              >{{ item.multiple > 1 ? item.multiple + "x " : "" }}{{ item.name }}</reference
            >
            @if (!last) {
              ,
            }
          }
        </div>
      }
    }

    @if (miniatures().length > 0) {
      <div class="title">
        @if (miniatures().length > 1) {
          Miniatures
        } @else {
          Miniature
        }
      </div>
      @for (miniature of miniatures(); track miniature) {
        <div>{{ miniature.count }}x {{ miniature.miniature }} ({{ miniature.location }})</div>
      }
    }
  </div>
}
