<h1 class="title">
  {{ map?.name }}
  <button mat-fab color="primary" (click)="onScreen()" matTooltip="Open map screen">
    <mat-icon>monitor</mat-icon>
  </button>
</h1>

<div class="current">
  <div #canvas class="canvas">
    <div #current class="map" cdkDrag (cdkDragEnded)="onDragEnd($event)" [cdkDragFreeDragPosition]="position">
      <div class="map-rotate" [style]="'transform: rotate(' + rotation + 'deg)'">
        @if (map && map.name) {
          <img src="/assets/maps/{{ map.path }}" />
        }
        @for (layer of visibleLayers; track layer.path) {
          <img src="/assets/maps/{{ layer.path }}" />
        }
      </div>
    </div>

    <div #tv class="tv">
      <div class="border"></div>
    </div>
  </div>

  <div class="positions">
    <div>
      <mat-icon (click)="onPosition(-1, -1)">north_west</mat-icon>
      <mat-icon (click)="onPosition(0, -1)">north</mat-icon>
      <mat-icon (click)="onPosition(1, -1)">north_east</mat-icon>
    </div>
    <div>
      <mat-icon (click)="onPosition(-1, 0)">west</mat-icon>
      <mat-icon (click)="onPosition(0, 0)">adjust</mat-icon>
      <mat-icon (click)="onPosition(1, 0)">east</mat-icon>
    </div>
    <div>
      <mat-icon (click)="onPosition(-1, 1)">south_west</mat-icon>
      <mat-icon (click)="onPosition(0, 1)">south</mat-icon>
      <mat-icon (click)="onPosition(1, 1)">south_east</mat-icon>
    </div>

    {{ formatPosition() }}
  </div>

  <div class="rotate">
    <mat-icon (click)="onRotate(-1)">rotate_left</mat-icon>
    <mat-icon (click)="onRotate(+1)">rotate_right</mat-icon>
    <span class="label">{{ getRotation() }}°</span>
  </div>

  <div class="layers">
    @for (layer of layers; track layer.path) {
      <div class="layer">
        <div class="name">{{ layer.name }}</div>

        <mat-icon class="icon" inline [class.selected]="layer.selected" (click)="onLayerPreview(layer)"
          >visibility</mat-icon
        >
        <mat-icon class="icon" inline [class.selected]="layer.shown" (click)="onLayerShow(layer)"
          >power_settings_new</mat-icon
        >
      </div>
    }

    <div class="layer">
      <div class="name"></div>
      <button (click)="onClearLayers()">Clear</button>
    </div>
  </div>
</div>
