<entity
  type="npc"
  [references]="npc.references"
  [bases]="npc.common.bases"
  baseType="npc"
  [overview]="overview"
  [campaign]="campaign"
  [collapsed]="collapsed"
  (full)="onFull()"
  (expand)="expand.emit()"
  (collapse)="collapse.emit()"
>
  <div name class="name">{{ npc.name }}</div>
  <div subtitle>
    {{ npc.race.size }} {{ npc.race.type.toString() | lowercase
    }}<span *ngIf="npc.race.tags.length"> ({{ npc.race.tags.join(", ") | lowercase }})</span>,
    {{ npc.race.alignment.toString() | lowercase }}
  </div>

  <labeled-text label="State">
    {{ campaignNPC?.state }}
  </labeled-text>

  <labeled-text label="Race">
    <ng-container *ngFor="let race of npc.race.common.bases; last as last">
      <reference [name]="race" type="monster" [campaign]="campaign">{{ race }}</reference>
      <ng-container *ngIf="!last">, </ng-container>
    </ng-container>
  </labeled-text>

  <labeled-text label="Gender">
    {{ npc.gender.toString() }}
    <ng-container *ngIf="npc.genderSpecial"> ({{ npc.genderSpecial }}</ng-container>
  </labeled-text>

  <labeled-text label="Factions">
    <ng-container *ngFor="let faction of npc.factions; last as last">
      {{ faction }}<ng-container *ngIf="!last">, </ng-container>
    </ng-container>
  </labeled-text>

  <monster-values [campaign]="campaign" [monster]="npc.race" [overview]="overview"></monster-values>
  <monster-traits
    content
    [campaign]="campaign"
    [monster]="npc.race"
    [overview]="overview"
    [miniatures]="miniature ? [{ monster: npc.name, count: 1, miniature: miniature, location: '??' }] : []"
  ></monster-traits>
</entity>
