common {
  name: ""
  worlds: "Generic"
  description: ""
  short_description: ""
  image: ".jpg"
}
type:
subtype: 
value {
  copper:
  silver:
  gold:
  platinum: 
}
weight {
  pounds {
    leader:
    nominator: 
    denominator: 
  }
}
rarity: 
size: 
substance {
  material: 
  thickness {
    inches {
      leader:
      nominator: 
      denominator: 
    }
  }
}
player_name: ""
