@let entity = trap();
@if (entity) {
  <entity
    type="trap"
    [name]="trap()!.name"
    [found]="trap()!.common.found"
    [reference]="trap()!.reference"
    [bases]="trap()!.common.bases"
    [overview]="overview()"
    baseType="trap"
    [version]="trap()!.common.version.short"
    [(collapsed)]="collapsed"
    [count]="count()"
    (full)="onFull()"
  >
    <div name class="name"></div>
    <div subtitle>
      @for (severity of entity.severities; track severity; let last = $last) {
        {{severity.type}} {{entity.type}} (Levels {{severity.levelLow}} - {{severity.levelHigh}})
        @if (!last) {
          or
        }
      }
    </div>
    <div subtitle>
      <span [innerHTML]="trap()!.shortDescription | format"></span>
    </div>

    @for (incomplete of trap()!.common.incompletes; track incomplete) {
      <div class="incomplete">
        {{ incomplete }}
      </div>
    }

    <div content>
      @if (entity.trigger) {
        <div class="section">
          <span class="label">Trigger: </span> {{entity.trigger}}
        </div>
      }

      @if (entity.duration) {
        <div class="section">
          <span class="label">Duration: </span> {{entity.duration}}
        </div>
      }

      <formatted-text [texts]="entity.common.playerDescriptions"></formatted-text>
      <formatted-text [text]="entity.details"></formatted-text>

      @if (entity.higherLevels) {
        <div class="section">
          <span class="label">higherLevels </span>
      <formatted-text [text]="entity.higherLevels"></formatted-text>
        </div>
      }
    </div>
  </entity>
}
