.stats-icon {
  font-size: 12px;
  height: 14px;
  top: 4px;
  position: relative;
}

.type-icon {
  width: 40px;
  height: 60px;
  overflow: visible;
  object-fit: contain;
}

.type-text {
  font-weight: bold;
  color: white;
  font-size: 8px;
  line-height: 12px;
  position: absolute;
  top: 55px;
  right: -10px;
  width: 55px;
  text-align: center;
  background: #00000088;
}

.location {
  font-size: 10px;
  align-self: center;
}
