<div class="entity" style="filter: hue-rotate({{hue}}deg)" [class.overview]="overview">
  <div class="bar"></div>

  <div class="content">
    <div class="name">
      {{name}}
      <ng-content select="[name]"></ng-content>
    </div>
    <div class="subtitle"><ng-content select="[subtitle]"></ng-content></div>

    <taper></taper>
    <ng-content></ng-content>

    <div class="text"><ng-content select="[content]"></ng-content></div>

    <div class="short"><ng-content select="[short]"></ng-content></div>

    <div class="footer">
      <div class="bases">
        <ng-container *ngFor="let base of bases; last as last">
          <reference [name]="base" [type]="baseType" [color]="false">{{base}}</reference>
          <ng-container *ngIf="!last">, </ng-container>
        </ng-container>
      </div>
      <div class="references">{{references}}</div>
    </div>
  </div>

  <div class="bar"></div>
</div>
