<div class="content">
  <npc [npc]="npc" [overview]="false" [campaign]="campaign"></npc>
  <div>
    <div class="image-container" *ngFor="let image of npc.images">
      <img class="image" [src]="image.startsWith('http') ? image : '/assets/npcs/'+ image" />
      <screen-image-button
        *ngIf="campaign"
        [campaign]="campaign"
        [image]="image.startsWith('http') ? image : '/assets/npcs/'+ image"
      ></screen-image-button>
    </div>
    <formatted-text class="description" [text]="npc.description"></formatted-text>
  </div>
</div>
