.incomplete {
  color: red;
}

.abilities {
  display: flex;

  .ability {
    text-align: center;
    padding: 0 10px;

    .name {
      font-weight: bold;
    }
  }
}

.skill {
  display: inline-block;
  opacity: 0.5;

  &.skilled {
    opacity: 1;
  }
}

.trait {
  margin-bottom: 5px;

  .name {
    font-weight: bold;
    font-style: italic;
  }
}

.title {
  font-variant: small-caps;
  font-size: 16px;
  border-bottom: 2px solid #58170d;
  font-family: sans-serif;
  margin-top: 5px;
}

.attack {
  margin-top: 5px;

  .name {
    font-weight: bold;
    font-style: italic;
  }

  .type {
    font-style: italic;
  }
}

.action {
  margin-top: 5px;

  .name {
    font-weight: bold;
    font-style: italic;
  }
}

.items {
  margin-top: 5px;
}
