<entity
  type="monster"
  [references]="monster.references.toString()"
  [bases]="monster.common.bases"
  baseType="monster"
  [overview]="overview"
  [campaign]="campaign"
  [collapsed]="collapsed"
  (full)="onFull()"
  (expand)="expand.emit()"
  (collapse)="collapse.emit()"
>
  <div name class="name">{{monster.name}}</div>
  <div subtitle>
    {{monster.size}} {{monster.type.toString() | lowercase}}<span *ngIf="monster.tags.length">
      ({{monster.tags.join(', ') | lowercase}})</span
    >, {{monster.alignment.toString() | lowercase}}
  </div>

  <monster-values [campaign]="campaign" [monster]="monster" [overview]="overview"></monster-values>
  <monster-traits content [campaign]="campaign" [monster]="monster" [overview]="overview"></monster-traits>
</entity>
