<entity [hue]="0" [references]="monster.references.toString()" [overview]="overview">
  <div name class="name" (click)="onName()">{{monster.name}}</div>
  <div subtitle>
    {{monster.size}} {{monster.type.toString() | lowercase}}
    <span *ngIf="monster.tags.length"> ({{monster.tags.join(', ') | lowercase}})</span>, {{monster.alignment.toString()
    | lowercase}}
  </div>

  <labeled-text label="Armor Class">
    {{monster.armorClass}}
    <span *ngIf="monster.naturalArmor"> (natural armor)</span>
  </labeled-text>
  <labeled-text label="Hit Points">{{monster.hitDice.average}} ({{monster.hitDice}})</labeled-text>
  <labeled-text label="Speed">{{monster.speeds.join(', ')}}</labeled-text>

  <taper></taper>

  <div class="abilities">
    <div class="ability" *ngFor="let ability of monster.abilities.abilities">
      <div class="name">{{ability.short}}</div>
      <div class="value">
        {{ability.value}} ({{ability.modifier > 0 ? '+' : ''}}{{ability.modifier}})
      </div>
    </div>
  </div>

  <taper></taper>

  <labeled-text label="Skills">
    <div
      *ngFor="let skill of monster.filterSkills(overview); last as last"
      class="skill"
      [class.skilled]="skill.skilled"
    >
      {{skill.name}} {{skill.modifier >= 0 ? '+' : ''}}{{skill.modifier}}{{last ? '' : ',&nbsp;'}}
    </div>
  </labeled-text>
  <labeled-text label="Damage Immunities" *ngIf="monster.damageImmunities.length > 0">
    <span *ngFor="let immunity of monster.damageImmunities; last as last">
      {{immunity}}{{last ? '' : ', '}}
    </span>
  </labeled-text>
  <labeled-text label="Condition Immunities" *ngIf="monster.conditionImmunities.length > 0">
    <span *ngFor="let immunity of monster.conditionImmunities; last as last">
      {{immunity}}{{last ? '' : ', '}}
    </span>
  </labeled-text>
  <labeled-text label="Senses">{{monster.senses}}, passive Perception {{monster.passivePerception}}</labeled-text>
  <labeled-text label="Languages">
    <ng-container *ngIf="monster.languages.text">{{monster.languages}}</ng-container>
    <ng-container *ngIf="!monster.languages.text">&mdash;</ng-container>
  </labeled-text>
  <labeled-text label="Challenge">{{monster.challenge}} ({{monster.xp}} XP)</labeled-text>

  <taper></taper>

  <div content>
    <div class="trait" *ngFor="let trait of monster.traits">
      <span class="name">{{trait.name}}. </span>
      <formatted-text [text]="trait.description"></formatted-text>
    </div>

    <div class="title">Actions</div>

    <div class="attack" *ngFor="let attack of monster.attacks">
      <span class="name">{{attack.name}}. </span>
      <span class="type">{{attack.type}} Attack: </span>
      {{(attack.type === AttackType.meleeWeapon ? monster.toHitMelee : monster.toHitRanged) | modifier}} to hit, reach
      {{attack.reach}} ft.,
      <span [ngSwitch]="attack.targets">
        <span *ngSwitchCase="1">one</span>
        <span *ngSwitchDefault>{{attack.targets}}</span>
      </span>
      <span [ngSwitch]="attack.canTarget">
        <span *ngSwitchCase="true"> target</span>
        <span *ngSwitchCase="false"> creature</span> </span
      >. Hit:
      <span *ngFor="let effect of attack.hits; last as last">
        {{effect.damage.average}} ({{effect.damage}}) {{effect.type}} damage<ng-container *ngIf="last">.</ng-container>
        <ng-container *ngIf="!last"> plus </ng-container>
      </span>
      {{attack.special}}
    </div>

    <div class="action" *ngFor="let action of monster.actions">
      <span class="name">{{action.name}}. </span>
      <formatted-text [text]="action.description"></formatted-text>
    </div>
  </div>
</entity>
