<dma-dialog [title]="character.name()" [valid]="name.valid" (cancel)="onCancel()" (save)="onSave()">
  <mat-form-field appearance="fill" class="line">
    <mat-label for="name">Name</mat-label>
    <input matInput id="name" type="text" [formControl]="name" />
    @if (name.invalid) {
      <mat-error>Name cannot be empty!</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="fill" class="line">
    <mat-label for="image">Image</mat-label>
    <input matInput id="image" type="text" [formControl]="image" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="line">
    <mat-label for="profile">Profile</mat-label>
    <input matInput id="profile" type="text" [formControl]="profile" />
  </mat-form-field>

  <div>
    <mat-form-field appearance="fill">
      <mat-label for="sound">Sound</mat-label>
      <input matInput id="sound" type="text" [formControl]="sound" />
    </mat-form-field>

    <mat-icon (click)="onPlay()">play_circle</mat-icon>
  </div>

  <div>
    @for (level of character.levels(); track level; let i = $index) {
      <mat-form-field appearance="fill">
        <mat-label for="level">Level {{ i + 1 }}</mat-label>
        <input matInput id="level" type="text" [formControl]="levels[i]" />
      </mat-form-field>
    }
    <mat-form-field appearance="fill">
      <mat-label for="level">Level {{ character.levels().length + 1 }}</mat-label>
      <input matInput id="level" type="text" [formControl]="levels[character.levels().length]" />
    </mat-form-field>
  </div>
</dma-dialog>
