@use '@angular/material' as mat;
@import '../../../../../styles.scss';

.line {
  margin-bottom: 10px;

  .label {
    font-weight: bold;
    margin-right: 5px;
  }

  .location {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    display: inline-block;
    cursor: pointer;

    &.selected {
      outline: 2px dotted black;
    }

    &:hover {
      outline: 2px dotted red;
    }
  }

  .summary {
    width: 100%;
    display: flex;

    .text {
      flex: 1;
      cursor: pointer;

      &:hover {
        color: mat.get-color-from-palette($accent);
      }
    }

    button {
      width: 20px;
      height: 20px;
      line-height: 15px;
  
      mat-icon {
        font-size: 15px;
        line-height: 15px;
        width: 15px;
        height: 15px;
      }        
    }  
  }
}

.buttons {
  text-align: center;
  margin-top: 10px;

  button + button {
    margin-left: 5px;
  }
}
