<h1 class="title">Edit Location</h1>

<div class="line">
  <mat-label class="label">Name:</mat-label>
  <input #name (change)="onName(name.value)" [value]="location.name" />
</div>

<div class="line">
  <location
    class="location"
    *ngFor="let color of colors"
    [type]="color"
    [class.selected]="color == location.style()"
    (click)="onColor(color)"
  ></location>
</div>

<div class="line">
  <mat-label class="label">Filters:</mat-label>(all filters need to apply at the same time)
  <div>
    <div class="summary" *ngFor="let summary of location.summaries(); let i = index">
      <div *ngIf="!!summary" class="text" (click)="onEditFilter(i)">{{ summary }}</div>
      <div *ngIf="!summary" class="text" (click)="onEditFilter(i)">(empty)</div>
      <button mat-icon-button color="primary" (click)="onAddFilter(i)"><mat-icon>add</mat-icon></button>
      <button mat-icon-button color="primary" (click)="onDeleteFilter(i)"><mat-icon>delete</mat-icon></button>
    </div>
  </div>
</div>

<div class="buttons">
  <button mat-stroked-button color="primary" (click)="onCancel()">Cancel</button>
  <button mat-flat-button color="primary" (click)="onSave()">Save</button>
</div>
