<div class="attack">
  <span class="name">{{ attack().name }}. </span>
  @if (attack().type != AttackType.UNKNOWN) {
    <span class="type">{{ attack().type }} Attack: </span>
    <value [value]="attack().toHit"></value> to hit,
    @if (attack().reach) {
      reach {{ attack().reach }} ft.
    }
    @if (attack().range) {
      range {{ attack().range }}
      @if (attack().rangeMax) {
        /{{ attack().rangeMax }} ft.
      } @else {
        ft.
      }
    }
    @if (version() === Version.DND_5) {
      @switch (attack().targets) {
        @case (1) {
          , one
        }
        @default {
          , {{ attack().targets }}
        }
      }
      @switch (attack().canTarget) {
        @case (true) {
          target.
        }
        @default {
          creature.
        }
      }
    }
    <span class="label">Hit:</span>
    @for (damage of attack().hits; track damage; let last = $last) {
      <damage [damage]="damage" [delimiter]="last ? '.' : ' plus '"></damage>
    }
  }
  <formatted-text [text]="attack().special"></formatted-text>
  @if (showRolls()) {
    <span class="rolls">
      <img
        class="dice-roll"
        src="/assets/dice-roll.svg"
        alt="Roll Dice"
        (click)="attacked.emit({ attack: attack(), state: RollState.normal })"
      />

      <span
        class="state-roll"
        title="Advantauge"
        (click)="attacked.emit({ attack: attack(), state: RollState.advantage })"
      >
        A
      </span>
      <span
        class="state-roll"
        title="Disadvantage"
        (click)="attacked.emit({ attack: attack(), state: RollState.disadvantage })"
      >
        D
      </span>
    </span>
  }
</div>
