<div class="content">
  @let _encounter = encounter();
  @if (_encounter) {
    @if (showTitle()) {
      <div class="title">
        {{ _encounter.name }}
      </div>
    }

    <div class="intro">
      @if (_encounter.isFinished()) {
        <badge label="finished" [outlined]="true" (clicked)="onResetEncounter()"></badge>
      } @else if (_encounter.isStarted()) {
        <badge label="finish" (clicked)="onFinishEncounter()"></badge>
      } @else {
        <badge label="start" (clicked)="onStartEncounter()"></badge>
      }

      <div class="details">
        <div class="line">
          <div class="label">Location:</div>
          <span>{{ _encounter.locations().join("; ") }}</span>
        </div>

        <div class="line">
          <div class="label">Sounds:</div>
          @for (sound of _encounter.soundLinks || []; track sound) {
            @if (!$first) {
              |
            }
            <dma-link [link]="sound" target="dma-sounds"></dma-link>
          }
        </div>

        @if (_encounter.notes().length > 0) {
          <div class="line">
            <div class="label">Notes:</div>
            <ul>
              @for (note of _encounter.notes(); track note) {
                <li><formatted-text [text]="note"></formatted-text></li>
              }
            </ul>
          </div>
        }
      </div>

      <div class="images">
        @for (image of _encounter.common.images; track image) {
          <div class="image-container">
            <img class="image" [src]="image.url" />
            <div class="caption">{{ image.label }}</div>
            <div class="image-hover">
              <img class="image" [src]="image.url" />
              <screen-image-button [campaign]="_encounter.campaign" [image]="image.url"></screen-image-button>
            </div>
          </div>
        }
      </div>
    </div>

    <div class="creatures">
      <encounter-monster-canvas
        [creatures]="creatures()"
        (selected)="onSelectedCreature($event)"
        (hpDiff)="onHpDiff($event.creature, $event.diff)"
      ></encounter-monster-canvas>

      <div class="creature-details">
        @for (npc of _encounter.npcs(); track npc) {
          <npc
            #npc
            class="npc"
            [npc]="npc"
            [campaign]="_encounter.campaign"
            [collapsed]="!expandedNPCs.has(npc.name)"
            (collapse)="expandedNPCs.delete(npc.name)"
            (expand)="onExpand(npc.name, true)"
          ></npc>
        }

        @for (monster of _encounter.monsters; track monster) {
          <monster
            #monster
            class="monster"
            [monster]="monster.entity"
            [campaign]="_encounter.campaign"
            [collapsed]="!expandedMonsters.has(monster.name)"
            [count]="monster.count"
            (collapse)="expandedMonsters.delete(monster.name)"
            (expand)="onExpand(monster.name, false)"
          ></monster>
        }

        @for (item of _encounter.items; track item) {
          <item
            class="item"
            [count]="item.count"
            [item]="item.entity"
            [campaign]="_encounter.campaign"
            [collapsed]="true"
          ></item>
        }

        @for (spell of _encounter.spells; track spell.name) {
          <spell [spell]="spell" [campaign]="_encounter.campaign" [collapsed]="true"></spell>
        }

        @for (trap of _encounter.traps; track trap.name) {
          <trap [trap]="trap" [campaign]="_encounter.campaign" [collapsed]="true"></trap>
        }
      </div>
    </div>
  }
</div>

@if (showActions()) {
  <div class="actions">
    <button mat-fab color="primary" (click)="onAdd()" matTooltip="Add Encounter">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-fab color="primary" (click)="onEdit()" [disabled]="!encounter" matTooltip="Edit Encounter">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-fab color="primary" (click)="onDuplicate()" [disabled]="!encounter" matTooltip="Duplicate Encounter">
      <mat-icon>content_copy</mat-icon>
    </button>
    <button mat-fab color="primary" (click)="onMini()" [disabled]="!encounter" matTooltip="Select Miniatures">
      <img src="/assets/library/miniatures.png" />
    </button>
    <button mat-fab color="primary" (click)="onDelete()" [disabled]="!encounter" matTooltip="Delete Encounter">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
}
