@use "../../../../mixins.scss";

:host {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  overflow: auto;
  @include mixins.scrollbar;
}

.actions {
  display: flex;
  padding-bottom: 10px;

  button[mat-fab] {
    margin-right: 5px;

    img {
      max-width: 60px;
      max-height: 60px;
    }
  }
}
