@import "../../colors.scss";

.intro {
  display: flex;
  flex-direction: row;
}

.images {
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
  gap: 2px;
  max-width: 30vw;

  .image-container {
    position: relative;
    height: fit-content;
    text-align: center;

    .image {
      height: 100px;
    }

    .caption {
      font-size: 10px;
      margin-top: -5px;
    }

    screen-image-button {
      position: absolute;
      opacity: 0;
      bottom: 4px;
      right: 0px;
      transform: scale(0.75);
      transition: 0ms;
    }

    .image-hover {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      background-color: white;
      z-index: 2;

      .image {
        transition: 100ms ease-in;
        height: 0;
      }
    }

    &:hover {
      .image-hover {
        .image {
          height: 500px;
          transition: 200ms ease-out;
        }
      }

      screen-image-button {
        opacity: 1;
        transition: 100ms 100ms;
      }
    }
  }
}

.details {
  margin-left: 20px;
  flex: 1;

  .line {
    .label {
      font-weight: bold;
      min-width: 75px;
      display: inline-block;
    }
  }
}

.entities-collapsed {
  margin: 5px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.entities-expanded {
  margin: 5px 0;
  display: flex;
  overflow: auto;
  gap: 4px;
}

.counted-entity {
  position: relative;
  height: fit-content;

  .count {
    position: absolute;
    right: 20px;
    bottom: 20px;
    border-radius: 5px;
    border: 2px solid $color-primary;
    color: $color-primary;
    font-weight: bold;
    padding: 0 3px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 1;
  }
}
