<div class="content">
  @if (encounter()) {
    <div class="intro">
      @if (encounter()?.isFinished()) {
        <badge label="finished" [disabled]="true"></badge>
      } @else if (encounter()?.isStarted()) {
        <badge label="finish" (clicked)="onFinishEncounter()"></badge>
      } @else {
        <badge label="start" (clicked)="onStartEncounter()"></badge>
      }

      <div class="details">
        <div class="line">
          <div class="label">Location:</div>
          {{ encounter()?.entity()?.locations?.join("; ") }}
          @if (encounter()?.map()) {
            (map {{ encounter()?.map() }})
          }
        </div>

        <div class="line">
          <div class="label">Sounds:</div>
          @for (sound of encounter()?.entity()?.soundLinks; track sound) {
            @if (!$first) {
              |
            }
            <dma-link [link]="sound" target="dma-sounds"></dma-link>
          }
        </div>

        @if (encounter()?.entity()?.notes?.length ?? 0 > 0) {
          <div class="line">
            <div class="label">Notes:</div>
            <ul>
              @for (note of encounter()?.entity()?.notes; track note) {
                <li>{{ note }}</li>
              }
            </ul>
          </div>
        }
      </div>

      <div class="images">
        @for (image of encounter()?.entity()?.common?.images; track image) {
          <div class="image-container">
            <img class="image" [src]="image.url" />
            <div class="caption">{{ image.label }}</div>
            <div class="image-hover">
              <img class="image" [src]="image.url" />
              <screen-image-button
                [campaign]="encounter()?.adventure?.campaign"
                [image]="image.url"
              ></screen-image-button>
            </div>
          </div>
        }
      </div>
    </div>

    <div class="entities-collapsed">
      @for (npc of encounter()?.npcs(); track npc) {
        @if (!expandedNPCs.has(npc.npc.name)) {
          <npc
            class="npc"
            [npc]="npc.npc"
            [campaign]="encounter()?.adventure?.campaign"
            [collapsed]="true"
            (collapsedChange)="expandedNPCs.add(npc.npc.name)"
          ></npc>
        }
      }
    </div>

    <div class="npcs">
      @for (npc of encounter()?.npcs(); track npc) {
        @if (expandedNPCs.has(npc.npc.name)) {
          <npc
            [npc]="npc.npc"
            [campaign]="encounter()?.adventure?.campaign"
            [collapsed]="false"
            [miniature]="npc.campaignNPC.miniature()"
            (collapsedChange)="expandedNPCs.delete(npc.npc.name)"
          ></npc>
        }
      }
    </div>

    <div class="entities-collapsed">
      @for (monster of encounter()?.entity()?.monsters; track monster) {
        @if (!expandedMonsters.has(monster.name)) {
          <monster
            class="monster"
            [monster]="monster.entity"
            [campaign]="encounter()?.adventure?.campaign"
            [collapsed]="true"
            [count]="monster.count"
            (collapsedChange)="expandedMonsters.add(monster.name)"
          ></monster>
        }
      }
    </div>

    <div class="entities-expanded">
      @for (monster of encounter()?.entity()?.monsters; track monster) {
        @if (expandedMonsters.has(monster.name)) {
          <monster
            [monster]="monster.entity"
            [campaign]="encounter()?.adventure?.campaign"
            [collapsed]="false"
            [count]="monster.count"
            [miniatures]="encounter()?.miniatures()?.get(monster.name) || []"
            (collapsedChange)="expandedMonsters.delete(monster.name)"
          ></monster>
        }
      }
    </div>

    <div class="entities-collapsed">
      @for (item of encounter()?.entity()?.items; track item) {
        @if (!expandedItems.has(item.name)) {
          <item
            class="item"
            [count]="item.count"
            [item]="item.entity"
            [campaign]="encounter()?.adventure?.campaign"
            [collapsed]="true"
            (collapsedChange)="expandedItems.add(item.name)"
          ></item>
        }
      }
    </div>

    <div class="entities-expanded">
      @for (item of encounter()?.entity()?.items; track item) {
        @if (expandedItems.has(item.name)) {
          <item
            [item]="item.entity"
            [campaign]="encounter()?.adventure?.campaign"
            [collapsed]="false"
            [count]="item.count"
            (collapsedChange)="expandedItems.delete(item.name)"
          ></item>
        }
      }
    </div>

    <div class="entities-collapsed">
      @for (spell of encounter()?.entity()?.spells; track spell.name) {
        @if (!expandedSpells.has(spell.name)) {
          <spell [spell]="spell" [collapsed]="true" (collapsedChange)="expandedSpells.add(spell.name)"></spell>
        }
      }
    </div>

    <div class="entities-expanded">
      @for (spell of encounter()?.entity()?.spells; track spell.name) {
        @if (expandedSpells.has(spell.name)) {
          <spell [spell]="spell" [collapsed]="false" (collapsedChange)="expandedSpells.delete(spell.name)"></spell>
        }
      }
    </div>
  }
</div>

<div class="actions">
  <button mat-fab color="primary" (click)="onAdd()" matTooltip="Add Encounter">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-fab color="primary" (click)="onEdit()" [disabled]="!encounter" matTooltip="Edit Encounter">
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-fab color="primary" (click)="onDuplicate()" [disabled]="!encounter" matTooltip="Duplicate Encounter">
    <mat-icon>content_copy</mat-icon>
  </button>
  <button mat-fab color="primary" (click)="onMini()" [disabled]="!encounter" matTooltip="Select Miniatures">
    <img src="/assets/monsters.webp" />
  </button>
  <button mat-fab color="primary" (click)="onDelete()" [disabled]="!encounter" matTooltip="Delete Encounter">
    <mat-icon>delete</mat-icon>
  </button>
</div>
