<div class="chip" (contextmenu)="onContextMenu($event)">
  <div class="main">
    <div class="image">
      @if (creature().image) {
        <img [src]="creature().image" />
      }
      @if (creature().state === NPCState.alive) {
        <div
          [class]="`hp ${creature().hpState}`"
          [class.undefined]="creature().hp === undefined"
          [style.height]="creature().hpFill"
        ></div>
        @if (creature().hp !== undefined) {
          <div class="hp-number">{{ creature().hp }}/{{ creature().maxHp }}</div>
        }
      }
    </div>
    <div class="name" [title]="creature().name">
      {{ creature().name }}
    </div>
    @if (creature().state == NPCState.dead) {
      <div class="state">
        <mat-icon class="material-symbols-outlined">skull</mat-icon>
      </div>
    }
    @if (creature().state == NPCState.unknown) {
      <div class="state">
        <mat-icon class="material-symbols-outlined">indeterminate_question_box</mat-icon>
      </div>
    }
  </div>
</div>
