@import "../../colors.scss";

:host {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.intro {
  display: flex;
  flex-direction: row;

  .images {
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;

    .image-container {
      position: relative;
      height: fit-content;
      text-align: center;

      .image {
        max-width: 100px;
        max-height: 100px;
        margin: 0 1px;
      }

      .caption {
        width: 100px;
        font-size: 10px;
        margin-top: -5px;
      }

      screen-image-button {
        position: absolute;
        bottom: 4px;
        right: 0px;
        transform: scale(0.75);
      }

      .image-hover {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        background-color: white;
        z-index: 2;

        .image {
          max-width: 500px;
          max-height: 500px;
        }
      }

      &:hover {
        .image-hover {
          display: block;
        }
      }
    }
  }

  .details {
    margin-left: 20px;
    flex: 1;

    .line {
      .label {
        font-weight: bold;
        min-width: 75px;
        display: inline-block;
      }
    }
  }
}

.entities-collapsed {
  margin: 5px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.entities-expanded {
  margin: 5px 0;
  display: flex;
  overflow: auto;
  gap: 4px;
}

.counted-entity {
  position: relative;
  height: fit-content;

  .count {
    position: absolute;
    right: 20px;
    bottom: 20px;
    border-radius: 5px;
    border: 2px solid $color-primary;
    color: $color-primary;
    font-weight: bold;
    padding: 0 3px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 1;
  }
}

.actions {
  display: flex;
  padding-bottom: 10px;

  button[mat-fab] {
    margin-right: 5px;

    img {
      max-width: 20px;
      max-height: 20px;
    }
  }
}
