@use "../../../../mixins.scss";
@use "../../colors.scss";

:host {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .intro {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }

  .images {
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
    gap: 2px;
    max-width: 30vw;

    .image-container {
      position: relative;
      height: fit-content;
      text-align: center;

      .image {
        height: 100px;
        max-width: 100px;
        object-fit: contain;
      }

      .caption {
        font-size: 10px;
        margin-top: -5px;
      }

      screen-image-button {
        position: absolute;
        opacity: 0;
        bottom: 4px;
        right: 0px;
        transform: scale(0.75);
        transition: 0ms;
      }

      .image-hover {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        background-color: white;
        z-index: 2;

        .image {
          transition: 100ms ease-in;
          height: 0;
        }
      }

      &:hover {
        .image-hover {
          .image {
            height: 500px;
            max-width: unset;
            transition: 200ms ease-out;
          }
        }

        screen-image-button {
          opacity: 1;
          transition: 100ms 100ms;
        }
      }
    }
  }

  .details {
    margin-left: 20px;
    flex-grow: 1;

    .line {
      .label {
        font-weight: bold;
        min-width: 75px;
        display: inline-block;
      }
    }
  }

  .creatures {
    display: flex;
    flex-direction: row;
    overflow: hidden;

    encounter-monster-canvas {
      flex: 1;
      overflow: hidden;
    }

    .creature-details {
      overflow-y: auto;
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
      gap: 5px;
      box-sizing: border-box;
      padding-left: 5px;
      border-left: 2px solid grey;

      @include mixins.scrollbar;
    }
  }

  .entities-collapsed {
    margin: 5px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }

  .entities-expanded {
    margin: 5px 0;
    display: flex;
    overflow: auto;
    @include mixins.scrollbar;
    gap: 4px;
  }

  .counted-entity {
    position: relative;
    height: fit-content;

    .count {
      position: absolute;
      right: 20px;
      bottom: 20px;
      border-radius: 5px;
      border: 2px solid colors.$color-primary;
      color: colors.$color-primary;
      font-weight: bold;
      padding: 0 3px;
      font-size: 12px;
      white-space: nowrap;
      z-index: 1;
    }
  }
}

.actions {
  display: flex;
  padding-bottom: 10px;

  button[mat-fab] {
    margin-right: 5px;

    img {
      max-width: 60px;
      max-height: 60px;
    }
  }
}
