:host {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.actions {
  display: flex;
  padding-bottom: 10px;

  button[mat-fab] {
    margin-right: 5px;

    img {
      max-width: 20px;
      max-height: 20px;
    }
  }
}
