<div
  #popover="ngbPopover"
  class="box"
  [ngbPopover]="content"
  [placement]="placement"
  [autoClose]="closeOnClick ? true : showClose ? false : 'outside'"
  [popoverTitle]="title"
  popoverClass="dma-expanding-box-popover"
  [positionTarget]="positionTarget"
  (shown)="shown.emit()"
>
  <ng-content></ng-content>
</div>

<ng-template #title>
  <div class="title">
    <ng-content select="[title]"></ng-content>
    @if (showClose) {
      <div class="close" (click)="popover.close()">
        <mat-icon>close</mat-icon>
      </div>
    }
  </div>
</ng-template>

<ng-template #content>
  <div class="content">
    <ng-content select="[content]"></ng-content>
  </div>
</ng-template>
