.summary {
  text-align: center;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  max-width: 80vw;

  .results {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;
    overflow: auto;
    max-height: 80vh;
  }
}
