@if (adventure) {
  <div class="selection">
    <div class="previous">
      @if (adventure.previousEncounter()) {
        <button mat-button (click)="onChange(adventure.previousEncounter())">
          {{ adventure.previousEncounter()?.id }} - {{ adventure.previousEncounter()?.name }}
        </button>
      }
    </div>

    <mat-form-field appearance="fill" class="encounters">
      <mat-label>Encounter</mat-label>
      <mat-select [value]="adventure.currentEncounter()" name="encounter" (selectionChange)="onChange($event.value)">
        @for (encounter of adventure.encounters(); track encounter) {
          <mat-option [value]="encounter"> {{ encounter.id }} - {{ encounter.name }} </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <div class="next">
      @if (adventure.nextEncounter()) {
        <button mat-button (click)="onChange(adventure.nextEncounter())">
          {{ adventure.nextEncounter().id }} - {{ adventure.nextEncounter().name }}
        </button>
      }
    </div>
  </div>

  <encounter class="encounter" [encounter]="adventure.currentEncounter()" [adventure]="adventure"></encounter>
}
