@let spellEntity = spell();
@if (spellEntity) {
  <div class="card">
    @if (imageIndex() > 0) {
      @if (spellEntity.common.images.length > 0) {
        <div class="image">
          <img [src]="spellEntity.common.images[0].url" />
        </div>
        <div class="top-right">
          <img class="school-icon" [src]="'/assets/spells/'+ spellEntity.school + '.webp'" />
          <div class="level">
          @if (spellEntity.level > 0) {
            {{spellEntity.level}}
          } @else {
            C
          }
          </div>
          <div class="school {{spellEntity.school.name.toLowerCase()}}">{{spellEntity.school}}</div>
        </div>
        <div class="punchline">
          {{spellEntity.shortDescription}}
        </div>
        <div class="bottom">
          <div class="title">{{spellEntity.name}}</div>
          <div class="stats">
            <div class="casting-time">
              <img class="icon" src="/assets/lightning-bolt.webp" />
              {{spellEntity.castingTime}}
            </div>
            <div class="range">
              <img class="icon" src="/assets/ruler.webp" />
              {{spellEntity.range}}
            </div>
            <div class="duration">
              <img class="icon" src="/assets/hourglass.webp" />
              {{spellEntity.duration}}
            </div>
          </div>
        </div>
      }
    } @else {
      <div class="top">
        @for (characterClass of spellEntity.classes; track characterClass) {
          <div class="class">
            <img src="/assets/spells/{{characterClass}}.webp" />
            <div class="caption">{{characterClass}}</div>
          </div>
        }
      </div>
      <div class="description">
        @for (description of playerDescriptions(); track description) {
          <formatted-text [text]="description"></formatted-text>
        }
      </div>
      @if (spellEntity.higherLevels) {
        <div class="line">
          <img class="icon" src="/assets/up.webp" />
          <div>{{spellEntity.higherLevels}}</div>
        </div>
      }

      <div class="line">
        <img class="icon" src="/assets/components.webp" />
        <div class="tags">
          @if (spellEntity.component_verbose) {
            V
          }
          @if (spellEntity.component_somatic) {
            S
          }
          @if (spellEntity.component_material) {
            M
          }
        </div>
        @if (spellEntity.materials.length > 0) {
          <div>
            ({{spellEntity.materials}})
          </div>
        }
      </div>

      <div class="references">
        {{spellEntity.reference}}
      </div>
    }
  </div>
}
