<h1 class="no-print">Spell Cards</h1>

<div class="no-print">
  <mat-checkbox [(ngModel)]="cantrip" (change)="onFilter()">Cantrip</mat-checkbox>
  <mat-checkbox [(ngModel)]="level1" (change)="onFilter()">Level 1</mat-checkbox>
  <mat-checkbox [(ngModel)]="level2" (change)="onFilter()">Level 2</mat-checkbox>
  <mat-checkbox [(ngModel)]="level3" (change)="onFilter()">Level 3</mat-checkbox>
  <mat-checkbox [(ngModel)]="level4" (change)="onFilter()">Level 4</mat-checkbox>
  <mat-checkbox [(ngModel)]="level5" (change)="onFilter()">Level 5</mat-checkbox>
  <mat-checkbox [(ngModel)]="level6" (change)="onFilter()">Level 6</mat-checkbox>
  <mat-checkbox [(ngModel)]="level7" (change)="onFilter()">Level 7</mat-checkbox>
  <mat-checkbox [(ngModel)]="level8" (change)="onFilter()">Level 8</mat-checkbox>
  <mat-checkbox [(ngModel)]="level9" (change)="onFilter()">Level 9</mat-checkbox>
</div>

<div class="no-print">
  <mat-checkbox [(ngModel)]="bard" (change)="onFilter()">Bard</mat-checkbox>
  <mat-checkbox [(ngModel)]="cleric" (change)="onFilter()">Cleric</mat-checkbox>
  <mat-checkbox [(ngModel)]="druid" (change)="onFilter()">Druid</mat-checkbox>
  <mat-checkbox [(ngModel)]="paladin" (change)="onFilter()">Paladin</mat-checkbox>
  <mat-checkbox [(ngModel)]="ranger" (change)="onFilter()">Ranger</mat-checkbox>
  <mat-checkbox [(ngModel)]="sorcerer">Sorcerer</mat-checkbox>
  <mat-checkbox [(ngModel)]="warlock" (change)="onFilter()">Warlock</mat-checkbox>
  <mat-checkbox [(ngModel)]="wizard" (change)="onFilter()">Wizard</mat-checkbox>
</div>

@for (page of pages; track page) {
  <div class="page images">
    <div class="grid">
      @for (spell of page; track spell.name; let i = $index) {
        <spell-card [spell]="spell" [imageIndex]="i + 1"></spell-card>
      }
    </div>
  </div>

  <div class="page">
    <div class="grid">
      @for (spell of page; track spell.name) {
        <spell-card [spell]="spell"></spell-card>
      }
    </div>
  </div>
}

<div class="page"></div>
@for (monster of monsters; track monster.name) {
  <monster-card [monster]="monster"></monster-card>
}
