.page {
  padding: 20px;
  width: 210mm;

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    break-inside: avoid;
  }

  &.images {
    margin-left: 0mm;
  }
}

@media print {
  .page {
    break-after: page;
  }

  @page {
    margin: 5mm;
  }

  .no-print {
    display: none;
  }
}
