.school-icon {
  width: 40px;
  height: 60px;
  object-fit: cover;
  overflow: visible;
}

.level {
  font-weight: bold;
  color: white;
  font-size: 30px;
  position: absolute;
  top: 25px;
  right: 10px;
}

.school {
  font-size: 8px;
  margin-top: -10px;
  padding: 1px 5px 0;
  line-height: 10px;
  position: absolute;
  top: 70px;
  right: -10px;

  &.evocation {
    color: white;
    background-color: #f31e18;
  }

  &.abjuration {
    color: white;
    background-color: #3e9eda;
  }

  &.transmutation {
    color: white;
    background-color: #a628e4;
  }

  &.enchantment {
    color: black;
    background-color: #fcb7ba;
  }

  &.necromancy {
    color: white;
    background-color: black;
  }

  &.illusion {
    color: white;
    background-color: #1b129f;
  }

  &.divination {
    color: black;
    background-color: #c88a13;
  }

  &.conjuration {
    color: black;
    background-color: #e98a12;
  }
}

.stats-icon {
  height: 8px;
  margin-right: 2px;
}

.concentration {
  object-fit: contain;
  width: 25px;
  height: 25px;
  align-self: center;
}

.classes {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.spell-class {
  text-align: center;
  margin: 0 2px;

  img {
    object-fit: contain;
    width: 20px;
    height: 20px;
  }

  .caption {
    font-size: 6px;
    margin-top: -8px;
  }
}

.line {
  font-size: 8px;
  line-height: 10px;
  padding: 2px 10px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;

  .icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }

  .tags {
    width: 20px;
    height: 18px;
    position: relative;
    margin-right: 5px;
    flex-shrink: 0;

    .verbose,
    .somatic,
    .material {
      position: absolute;
      font-size: 9px;
      color: #aaa;
    }

    .verbose {
      left: 0;
      bottom: 0;
    }

    .somatic {
      top: 0;
      left: 0;
      right: 0;
      text-align: center;
    }

    .material {
      right: 0;
      bottom: 0;
    }

    .highlight {
      font-weight: 500;
      color: #ff6f00;
      text-shadow: 0 0 2px orange;
    }
  }
}
