<div class="screen" style="transform: scale({{ scale }});">
  <div class="time">
    <ng-container *ngIf="time >= 0">
      <div class="sky" style="opacity: {{ getSkyOpacity() }};"></div>
      <div class="container">
        <img
          class="sun"
          src="/assets/sun.png"
          alt="sun"
          style="left: {{ time }}%; bottom: {{ getBottom(this.time) }}%"
        />
      </div>
    </ng-container>
    <ng-container *ngIf="time < 0">
      <div class="night-sky">
        <div class="container">
          <div class="moon" style="right: {{ -time }}%; bottom: {{ getBottom(-time) }}%">
            <div class="left" [class.light]="moon <= 180" [class.shadow]="moon > 180"></div>
            <div class="right" [class.light]="moon > 180" [class.shadow]="moon <= 180"></div>
            <div class="middle" style="transform: rotate3d(0, 1, 0, {{ moon }}deg"></div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="columns">
    <div class="left">
      <div class="calendar">
        <div class="day">{{ campaign?.dateTime()?.dayFormatted }}</div>
        <div class="month">{{ campaign?.dateTime()?.monthFormatted }}</div>
        <div class="year">{{ campaign?.dateTime()?.years }}</div>
        <div class="year-name">{{ campaign?.dateTime()?.yearFormatted }}</div>
      </div>
      <div class="rounds" *ngIf="campaign?.round">
        <div class="title">ROUND</div>
        <div class="round">{{ campaign?.round() }}</div>
      </div>
    </div>
    <div class="image">
      @if (campaign) {
        <img [src]="campaign.screenImage()" />
      }
    </div>
  </div>
</div>
