@use "../../../../mixins" as mixins;

.character {
  .name {
    font-weight: bold;
  }

  .level {
    font-size: 10px;
    margin-left: 2px;
  }
}

.characters {
  display: flex;
  flex-wrap: wrap;
  max-width: 80vw;
  @include mixins.scrollbar;

  profile-picture {
    margin: 0 10px 5px 0;
    width: 140px;
  }
}
