@import "../../../../mixins.scss";

.character {
  .name {
    font-weight: bold;
  }

  .level {
    font-size: 10px;
    margin-left: 2px;
  }
}

.characters {
  display: flex;
  max-width: 80vw;
  overflow: auto;
  @include scrollbar;
}
