@if (campaign()) {
  <expanding-box>
    <div>
      @for (character of campaign()?.characters(); track character.name()) {
        <div class="character">
          <span class="name">{{ character.name() }}</span>
          <span class="level">{{ character.levelSummary() }}</span>
        </div>
      }
    </div>
    <div title>Party</div>
    <div content class="characters">
      @for (character of campaign()?.characters(); track character.name()) {
        <profile-picture
          (click)="onCharacter(character)"
          [name]="character.name()"
          [image]="character.profile().url"
        ></profile-picture>
      }
    </div>
  </expanding-box>
}
