@let entity = item();
@if (entity) {
  <entity-card [flippable]="flippable()" [imageIndex]="imageIndex()" [name]="entity.name"
   [image]="entity.common.images.length > 0 ? entity.common.images[0].url : ''"
   [tagline]="entity.shortDescription" [version]="entity.common.version"
   [references]="entity.reference.toString()">
    <div category>
      <img class="type-icon" [src]="'/assets/items/' + entity.type + '.webp'"/>
      <div class="type-text">{{entity.type}}</div>
    </div>

    <div stats class="weight">
      <mat-icon class="stats-icon">scale</mat-icon>
      @if (entity.weight.isEmpty()) {
        &mdash;
      } @else {
        {{entity.totalWeight}}
      }
    </div>

    <div top class="rarity">
      <img src="/assets/items/{{entity.rarity}}.webp"/>
      <div class="caption">{{entity.rarity}}</div>
    </div>

    <div description>
      @for (description of playerDescriptions(); track description) {
        <formatted-text [text]="description"></formatted-text>
      }
    </div>
  </entity-card>

  @if (imageIndex() < 0) {
    <div class="item">
      <div class="name">
        {{ item()?.name }}
      </div>

      <div class="line">
        <div class="weight"><mat-icon>scale</mat-icon> {{ item()?.weight }}</div>
        @if (item()?.attunement) {
          <div class="attunement"><mat-icon>album</mat-icon></div>
        }
      </div>

      <div class="description">
        @for (description of playerDescriptions(); track description) {
          <div [innerHTML]="description | format"></div>
        }
      </div>

      <div class="line">
        <div class="version">
          {{ item()?.common?.version }}
        </div>
        <div class="id">
          {{ id() }}
        </div>
      </div>
    </div>
  } @else {
    <div class="item image">
      @if (item()?.common?.images?.length || 0 > 0) {
        <img [src]="(item()?.common)!.images[0].url" [class.cover]="(item()?.common)!.images[0].imageCover" />
      }
      <div class="name">{{ item()?.name }}</div>
    </div>
  }
}
