@let entity = item();
@if (entity) {
  <entity-card [flippable]="flippable()" [imageIndex]="imageIndex()" [name]="entity.name"
   [image]="entity.common.images.length > 0 ? entity.common.images[0].url : ''"
   [tagline]="entity.shortDescription" [version]="entity.common.version"
   [references]="entity.reference.toString()">
    <div category>
      <img class="type-icon" [src]="'/assets/items/' + entity.type + '.webp'"/>
      <div class="type-text">{{entity.type}}</div>
    </div>

    <div stats class="money">
      <mat-icon class="stats-icon">toll</mat-icon>
      @if (entity.value.isEmpty()) {
        &mdash;
      } @else {
        {{entity.totalValue.text}}
      }
    </div>

    <div stats>
      <span class="stats-char">⌀</span>
      {{entity.size.short}}
    </div>

    <div stats class="weight">
      <mat-icon class="stats-icon">scale</mat-icon>
      @if (entity.weight.isEmpty()) {
        &mdash;
      } @else {
        {{entity.totalWeight}}
      }
    </div>

    @if (entity.attunement) {
      <div top class="attunement">
        <mat-icon>album</mat-icon>
        <div class="caption">Attunement</div>
      </div>
    }

    <div top class="location">
      {{id()}}
    </div>
    <div top class="rarity">
      <img src="/assets/items/{{entity.rarity}}.webp"/>
      <div class="caption">{{entity.rarity}}</div>
    </div>

    <div description>
      @for (description of playerDescriptions(); track description) {
        <formatted-text [text]="description"></formatted-text>
      }

      @if (entity.weapon) {
        <div class="section">
          <div class="section-icon">⚔</div>
          <div class="section-text">
            {{ entity.weapon.proficiency }} - {{ entity.weapon.damage }} <br/>
            @if (entity.weapon.range) {
              Range {{entity.weapon.range}}
              @if (entity.weapon.rangeMax) {
                /{{entity.weapon.rangeMax}}
              }
              <br/>
            }
            {{ entity.weapon.properties | list}} - {{ entity.weapon.mastery }}
          </div>
        </div>
      }

      @if (entity.armor) {
        <div class="section">
          <div class="section-icon">𐂫</div>
          <div class="section-text">
            {{entity.armor.type}} - AC {{10 + entity.armor.ac}}
            @if (entity.armor.maxDexterity < 100) {
              - Max Dex {{entity.armor.maxDexterity}}
            }
            @if (entity.armor.minStrength) {
              - Min Str {{entity.armor.minStrength}}
            }
            @if (entity.armor.stealthDisadvantage) {
              - Stealth Disadvantage
            }
          </div>
        </div>
      }

      @if (entity.wearable) {
        <div class="section">
          <div class="section-icon">👖&#xfe0e;</div>
          <div class="section-text">
            {{entity.wearable.slot}}
            @if (!entity.wearable.don.isEmpty()) {
              - Don {{entity.wearable.don}} - Doff {{entity.wearable.doff}}
            }
          </div>
        </div>
      }
    </div>

    @if (entity.appliesTo.length > 0) {
      <div back-stats class="applies-to">
        Applies to any {{entity.appliesTo | list:' or '}}
        @if (entity.appliesToException) {
          , except {{entity.appliesToException}}
        }
      </div>
    }
  </entity-card>
}
