.stats-icon {
  font-size: 12px;
  height: 14px;
  top: 4px;
  position: relative;
}

.stats-char {
  font-size: 18px;
  position: relative;
  top: 1px;
}

.category {
  margin-right: -10px;
  display: flex;
  width: 50px;

  .type-icon {
    margin: 0 5px;
    width: 40px;
    height: 40px;
    overflow: visible;
    object-fit: contain;
    align-self: center;
  }

  .type-text {
    opacity: 0.75;
    color: white;
    font-size: 8px;
    line-height: 12px;
    position: absolute;
    top: 35px;
    width: 50px;
    text-align: center;
    background: #00000088;
  }
}

.attunement,
.rarity {
  text-align: center;

  img {
    object-fit: contain;
    width: 20px;
    height: 20px;
  }

  .caption {
    font-size: 6px;
    margin-top: -4px;
    line-height: 7px;
  }
}

.attunement {
  align-self: left;
}

.location {
  font-size: 10px;
  align-self: center;
  white-space: nowrap;
}

.rarity {
  align-self: right;
}

.applies-to {
  font-size: 8px;
  text-align: center;
  padding: 0 10px;
  line-height: 10px;
}

.section {
  margin-top: 5px;
  display: flex;
  flex-direction: row;

  .section-icon {
    margin-right: 10px;
  }
}
