@if (item()) {
  @if (imageIndex() < 0) {
    <div class="item">
      <div class="name">
        {{ item()?.name }}
      </div>

      <div class="line">
        <div class="weight"><mat-icon>scale</mat-icon> {{ item()?.weight }}</div>
        @if (item()?.attunement) {
          <div class="attunement"><mat-icon>album</mat-icon></div>
        }
      </div>

      <div class="description">
        @for (description of computePlayerDescriptions(); track description) {
          <div [innerHTML]="description | format"></div>
        }
      </div>

      <div class="line">
        <div class="version">
          {{ item()?.common?.version }}
        </div>
        <div class="id">
          {{ id() }}
        </div>
      </div>
    </div>
  } @else {
    <div class="item image">
      @if (item()?.common?.images?.length || 0 > 0) {
        <img [src]="(item()?.common)!.images[0].url" />
      }
      <div class="name">{{ item()?.name }}</div>
    </div>
  }
}
