.stats-icon {
  font-size: 12px;
  height: 14px;
  top: 4px;
  position: relative;
}

.stats-char {
  font-size: 18px;
  position: relative;
  top: 1px;
}

.type-icon {
  width: 40px;
  height: 60px;
  overflow: visible;
  object-fit: contain;
}

.type-text {
  font-weight: bold;
  color: white;
  font-size: 8px;
  line-height: 12px;
  position: absolute;
  top: 55px;
  right: -10px;
  width: 55px;
  text-align: center;
  background: #00000088;
}

.attunement,
.rarity {
  text-align: center;

  img {
    object-fit: contain;
    width: 20px;
    height: 20px;
  }

  .caption {
    font-size: 6px;
    margin-top: -4px;
    line-height: 7px;
  }
}

.attunement {
  align-self: left;
}

.location {
  font-size: 10px;
  align-self: center;
  white-space: nowrap;
}

.rarity {
  align-self: right;
}

.applies-to {
  font-size: 8px;
  text-align: center;
  padding: 0 10px;
  line-height: 10px;
}

.section {
  margin-top: 10px;
  display: flex;
  flex-direction: row;

  .section-icon {
    margin-right: 10px;
  }
}
