.summary {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}
.content {
  display: flex;
  flex-direction: row;

  .title {
    font-weight: bold;
    margin: 5px 0;
  }

  .left {
    .label {
      min-width: 130px;
      display: inline-block;
    }

    .selected-monsters {
      margin-bottom: 10px;
    }

    .easy {
      color: green;
    }

    .medium {
      color: orange;
    }

    .hard {
      color: red;
    }

    .deadly {
      color: black;
    }
  }

  .right {
    margin-left: 20px;
  }
}
