.grid {
  position: relative;

  .line {
    position: absolute;
    opacity: 0.3;

    &.vertical {
      top: -100px;
      bottom: -100px;
      width: 0.5px;
    }

    &.horizontal {
      left: -100px;
      right: -100px;
      height: 0.5px;
    }
  }
}
