// Normal
$color-text: #222;
$color-text-light: #888;
$color-title: #000855;

$color-border: #aaa;
$color-border-dark: #888;

// Dark DMA
$color-primary: #000955;
$color-accent: #9ca810;
$color-dark-text: white;

//
