// Normal
$color-text: #222;
$color-text-light: #888;
$color-title: #000855;

$color-border: #aaa;
$color-border-dark: #888;

// Dark DMA
$color-primary: #000955;
$color-accent: #9ca810;
$color-dark-text: white;

// Entity colors:
$color-monster: #9a4d0e;
$color-spell: #935cbd;
$color-item: #6cbeff;
$color-god: #c2ab00;
$color-place: #7b7b7b;
$color-npc: #ff9565;
$color-condition: #6eba5d;
$color-glossary: #6eba5d;
$color-trap: #ce0000;
