@use "@angular/material" as mat;
@use "../../../../styles.scss";
@use "../../../../variables.scss" as var;

.container {
  width: 420px;
  min-height: 305px;

  .box {
    font-weight: 600;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #aaa;
    margin-bottom: 5px;

    .line {
      display: flex;
      flex-direction: row;
      align-items: center;

      .label {
        flex: 1;

        input {
          border: none;
          font-weight: 600;
          font-family: Roboto;
          font-size: 14px;
          width: 6ex;
          text-align: center;
        }

        .sub-label {
          font-size: 10px;
          margin-top: -5px;
        }
      }

      button:hover {
        background-color: mat.m2-get-color-from-palette(var.$accent);
      }
    }
  }

  .day {
    width: 40px;
    height: 40px;
    display: inline-block;
  }

  .day,
  .special {
    line-height: 40px;
    margin: 0;

    &:hover {
      background-color: mat.m2-get-color-from-palette(var.$accent);
    }

    &.selected {
      background-color: mat.m2-get-color-from-palette(var.$primary);
      color: white;
    }
  }
}
