<div class="container">
  <div class="box">
    <div class="line">
      <button mat-icon-button (click)="change(-1, 0)"><mat-icon>keyboard_double_arrow_left</mat-icon></button>
      <div class="label">
        {{ date().years }}
        <div class="sub-label">
          {{ yearName() }}
        </div>
      </div>
      <button mat-icon-button (click)="change(+1, 0)"><mat-icon>keyboard_double_arrow_right</mat-icon></button>
    </div>
  </div>

  <div class="box">
    <div class="line">
      <button mat-icon-button (click)="change(0, -30)"><mat-icon>keyboard_double_arrow_left</mat-icon></button>
      <div class="label">
        {{ day().name }}
        <div class="sub-label">
          {{ day().similar }}
        </div>
      </div>
      <button mat-icon-button (click)="change(0, +30)"><mat-icon>keyboard_double_arrow_right</mat-icon></button>
    </div>
  </div>

  @for (_ of [].constructor(30); track _; let i = $index) {
    <div class="box day" [class.selected]="i === dayOfMonth()" (click)="change(0, i - dayOfMonth())">
      {{ i + 1 }}
    </div>
  }

  @for (day of specials(); track day; let i = $index) {
    <div class="box special" b [class.selected]="i === dayOfMonth() - 30" (click)="change(0, i + 30 - dayOfMonth())">
      {{ day.name }}
    </div>
  }
</div>
