<div class="content">
  <npc [npc]="npc" [overview]="false" [collapsed]="false" [campaign]="campaign"></npc>
  <div>
    @for (image of npc.images; track image) {
      <div class="image-container">
        <img class="image" [src]="image.url" />
        @if (campaign) {
          <screen-image-button [campaign]="campaign" [image]="image.url"></screen-image-button>
        }
      </div>
    }
    <formatted-text class="description" [texts]="npc.common.descriptions"></formatted-text>
  </div>
</div>
