<entity
  type="npc"
  [found]="npc().common.found"
  [reference]="npc().reference"
  [bases]="npc().common.bases"
  baseType="npc"
  [overview]="overview()"
  [campaign]="campaign()"
  [collapsed]="collapsed()"
  (full)="onFull()"
  (expand)="expand.emit()"
  (collapse)="collapse.emit()"
>
  <div name class="name">{{ npc().name }}</div>
  <div subtitle>
    {{ npc().race.size }} {{ npc().race.type.toString() | lowercase }}
    @if (npc().race.tags.length) {
      ({{ npc().race.tags.join(", ") | lowercase }})
    }
    ,
    {{ npc().race.alignment.toString() | lowercase }}
  </div>

  <labeled-text label="State">
    {{ campaignNPC?.state }}
  </labeled-text>

  <labeled-text label="Race">
    @for (race of npc().race.common.bases; track race; let last = $last) {
      <reference [name]="race" type="monster" [campaign]="campaign()">{{ race }}</reference>
      @if (!last) {
        ,
      }
    }
  </labeled-text>

  <labeled-text label="Gender">
    {{ npc().gender.toString() }}
    @if (npc().genderSpecial) {
      ({{ npc().genderSpecial }})
    }
  </labeled-text>

  <labeled-text label="Factions">
    {{ npc().factions | list }}
  </labeled-text>

  <monster-values [campaign]="campaign()" [monster]="npc().race" [overview]="overview()"></monster-values>
  <monster-traits
    content
    [campaign]="campaign()"
    [monster]="npc().race"
    [overview]="overview()"
    [miniatures]="miniature() ? [{ monster: npc().name, count: 1, miniature: miniature() || '', location: '??' }] : []"
  ></monster-traits>
</entity>
