.inputs {
  display: flex;

  div + div {
    margin-left: 10px;
  }
}

.logout {
  font-size: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;

  mat-icon {
    margin-left: 5px;
    transform: scale(0.75);
  }
}

.buttons {
  text-align: center;
  margin: 20px 20px;
}
