@import "../../../../mixins.scss";

:host {
  max-height: 90vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.content {
  flex: 1;
  overflow: auto;
  @include scrollbar;
}

.buttons {
  margin: 20px;
  text-align: center;

  button + button {
    margin-left: 5px;
  }
}
