:host {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 100%;
}

expanding-button {
  .buttons {
    text-align: right;
  }
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;

  .entities {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
  }

  .pagination {
    margin: auto;
    display: flex;
    align-items: center;

    &.hidden {
      visibility: hidden;
    }
  }
}
