@import "../../../mixins.scss";

.entity {
  width: 410px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: max-height 200ms;
  position: relative;
  z-index: 0;

  &.overview {
    max-height: 800px;

    @media (max-height: 1000px) {
      max-height: 600px;
    }

    &.collapsed {
      max-height: 80px;

      .content {
        .name {
          .name-text {
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        .scroll-area {
          overflow: hidden;
        }
      }
    }
  }

  .bar {
    background-image: url("/assets/entity-bar.png");
    height: 6px;
    min-height: 6px;
    border-radius: 2px;
    border: 1px solid #2f2112;
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 2px;
    padding: 10px;
    overflow: hidden;
    font-family: serif;
    background-color: transparent;
    position: relative;

    .scroll-area {
      overflow: auto;
      @include scrollbar;
      margin-right: -8px; // Move the scrollbar more to the right.
      padding-right: 8px;
    }

    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background-image: url("/assets/entity-back.png");
      color: #58170d;
      z-index: -1;
    }

    .name {
      font-size: 25px;
      font-weight: bolder;
      font-variant: small-caps;
      text-transform: capitalize;
      margin-bottom: 5px;
      display: flex;
      position: relative;
      overflow: visible;

      .not-found {
        position: absolute;
        color: #880000;
        font-variant: none;
        font-size: 36px;
        opacity: 0.5;
        top: 0px;
        left: 280px;
        text-align: center;

        .text {
          font-size: 10px;
        }
      }

      .name-text {
        flex: 1;

        .bases {
          font-size: 12px;
        }
      }

      .buttons {
        height: 20px;

        button {
          transform: scale(0.7);
          transform-origin: top;
          margin: 0 -12px;
        }
      }
    }

    .subtitle {
      font-style: italic;
    }

    .text {
      flex: 1;
      margin-bottom: 10px;
    }

    .short {
      font-style: italic;
    }

    .footer {
      font-style: italic;
      font-size: 10px;
      margin-top: 5px;
      display: flex;
      width: 100%;

      .bases {
        flex: 1;
      }

      .references {
        text-align: right;
      }
    }
  }

  &.v-5-24 {
    .content {
      border: 3px solid #bebdb8;
      border-radius: 10px;
      background: #f1eee7;
      font-family: sans-serif;

      .name {
        color: #6d0000;
        border-bottom: 1px solid #6d0000;
        padding-bottom: 8px;

        .buttons {
          position: relative;
          top: -7px;
        }
      }

      .subtitle {
        margin-bottom: 5px;
      }
    }

    &.spell {
      .content {
        border-color: #a9088f;
      }
    }

    &.item {
      .content {
        border-color: #003f76;
      }
    }
  }
}

.collapsed {
  .collapse {
    display: none;
  }

  .expand {
    display: inline-block;
  }
}

.expanded {
  .expand {
    display: none;
  }

  .collapse {
    display: inline-block;
  }
}

.npc {
  .bar {
    filter: hue-rotate(325deg);
  }

  .content:after {
    filter: hue-rotate(325deg);
  }
}

.monster {
  .bar {
    filter: hue-rotate(0deg);
  }

  .content:after {
    filter: hue-rotate(0deg);
  }
}

.spell {
  .bar {
    filter: hue-rotate(245deg);
  }

  .content:after {
    filter: hue-rotate(245deg);
  }

  taper {
    filter: hue-rotate(320deg);
  }
}

.item {
  .bar,
  .content:after {
    filter: hue-rotate(170deg);
  }

  taper {
    filter: hue-rotate(200deg);
  }
}

.condition {
  .bar,
  .content:after {
    filter: hue-rotate(40deg);
  }

  taper {
    filter: hue-rotate(90deg);
  }
}

.product {
  .bar,
  .content:after {
    filter: grayscale(1);
  }

  taper {
    filter: grayscale(1);
  }
}
