<div class="content">
  <div><ng-content></ng-content></div>
  <div>
    <div class="versions">
      @if (versions().length > 1) {
        @for (version of versions(); track version) {
          @if (version === entity().common.version) {
            <div class="version current">{{ version }}</div>
          } @else {
            <div class="version" (click)="onVersion(version)">{{ version }}</div>
          }
        }
      }
    </div>

    @for (image of entity().images; track image) {
      <div class="image-container">
        <img class="image" [src]="image.url" />
        <screen-image-button [campaign]="campaign()" [image]="image.url"></screen-image-button>
      </div>
    }

    @if (entity().common.version === Version.DND_5_24) {
      <div class="title">{{ entity().name }}</div>

      <div class="tagline">{{ entity().shortDescription }}</div>

      <ng-content select=".info-bar"></ng-content>
    }

    <formatted-text class="description" [text]="entity().description"></formatted-text>
  </div>
</div>
