.subtitle {
  font-weight: bold;
  font-size: 14px;
}

.values {
  margin-top: 10px;

  .title {
    font-variant: small-caps;
    font-size: 16px;
    border-bottom: 2px solid #58170d;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 5px 0;
  }
}
