@use "../colors";
@use "../styles";

.content {
  position: relative;
  padding: 40px;
}

.title {
  font-size: styles.$size-large;
  color: colors.$color-text;
  text-align: center;
  margin-bottom: 20px;
}

.image {
  margin-bottom: 20px;
}

.value {
  text-align: left;
  margin-bottom: 5px;

  chip {
    margin-right: 4px;
  }
}

location {
  display: inline-block;
}

.select {
  bottom: 10px;
  right: 10px;
  position: absolute;
}
