<div class="content">
  <div class="left">
    <mat-form-field appearance="fill" class="encounters">
      <mat-label>Monster</mat-label>
      <mat-select [(ngModel)]="currentMonster" name="monster" (ngModelChange)="onMonsterChange()">
        @for (monster of encounter?.entity()?.monsters; track monster) {
          <mat-option [value]="monster">
            {{ monster.count }}x {{ monster.entity.name }}
            @if (monster.count > (assigned().get(monster.entity.name) || 0)) {
              (missing {{ monster.count - (assigned().get(monster.entity.name) || 0) }})
            }
            @if (monster.count < (assigned().get(monster.entity.name) || 0)) {
              ({{ (assigned().get(monster.entity.name) || 0) - monster.count }} too many)
            }
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <filtering
      class="filters"
      [filters]="filters"
      [values]="currentFilters"
      (selected)="grid.onFilter($event)"
    ></filtering>

    <mat-form-field appearance="fill" class="miniatures">
      <mat-label>Miniatures</mat-label>
      <textarea matInput [(ngModel)]="miniatures" rows="10" (blur)="onMiniaturesChange()"></textarea>
    </mat-form-field>
  </div>

  <div class="miniatures-grid">
    <entities-grid
      #grid
      [entities]="minis"
      [filters]="filters"
      type="miniature"
      [withFilters]="false"
      [selector]="selector"
    ></entities-grid>

    <div class="buttons">
      <button mat-stroked-button color="primary" (click)="onCancel()">Cancel</button>
      <button mat-flat-button color="primary" (click)="onSave()">Save</button>
    </div>
  </div>
</div>
