<div class="content">
  <div class="left">
    <mat-form-field appearance="fill" class="encounters">
      <mat-label>Monster</mat-label>
      <mat-select [(ngModel)]="currentMonster" name="monster" (ngModelChange)="onMonsterChange()">
        @for (monster of monsters; track monster) {
          <mat-option [value]="monster">
            {{ monster.count }}x {{ monster.entity.name }}
            @if (monster.count > (assigned().get(monster.entity.name) || 0)) {
              (missing {{ monster.count - (assigned().get(monster.entity.name) || 0) }})
            }
            @if (monster.count < (assigned().get(monster.entity.name) || 0)) {
              ({{ (assigned().get(monster.entity.name) || 0) - monster.count }} too many)
            }
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <filtering
      class="filters"
      [filters]="filters"
      [values]="currentFilters"
      (selected)="grid.onFilter($event)"
    ></filtering>

    <div class="minis-title">
      Miniatures:
      <button mat-icon-button (click)="onMinisCleared()">
        <mat-icon>playlist_remove</mat-icon>
      </button>
    </div>

    @for (entry of miniatureSelectionsByName.entries(); track entry[0]) {
      <div>
        {{ entry[0] }}:
        @for (selection of entry[1]; track selection) {
          {{ selection.count }} x {{ selection.miniature }} ({{ selection.location }}),
        }
      </div>
    }
  </div>

  <div class="miniatures-grid">
    <entities-grid
      #grid
      [entities]="miniatures"
      [filters]="filters"
      type="miniature"
      [withFilters]="false"
      [selector]="selector"
    ></entities-grid>

    <div class="buttons">
      <button mat-stroked-button color="primary" (click)="onCancel()">Cancel</button>
      <button mat-flat-button color="primary" (click)="onSave()">Save</button>
    </div>
  </div>
</div>
