<div class="footer">
  <div class="actions">
    <a routerLink="/campaigns" title="Campaigns">
      <button mat-icon-button><img src="assets/compass.webp" /></button>
    </a>
    <a routerLink="/miniatures" title="Miniatures">
      <button mat-icon-button><img src="assets/monsters.webp" /></button>
    </a>
    <a routerLink="/library" title="Library">
      <button mat-icon-button><img src="assets/library.webp" /></button>
    </a>
  </div>
  <a href="about">about</a>
  <div class="right"></div>
</div>
