@use '@angular/material' as mat;
@import '../colors';
@import '../../../styles';

.map {
  display: inline-block;
  margin: 0 5px 0 5px;
  cursor: pointer;

  img {
    height: 100px;
  }

  .caption {
    text-align: center;
  }
}

.current {
  margin: 50px 0 0;

  .canvas {
    background-color: #fafafa;
    position: relative;

    .map {
      position: absolute;
      z-index: 1;
      margin: 0;
    }

    .tv {
      position: relative;
      top: 200px;
      left: 200px;

      .border {
        position: absolute;
        pointer-events: none;
        z-index: 2;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        outline: 2px solid black;
      }
    }

    .positions {
      position: absolute;
      right: 50px;
      top: 250px;

      mat-icon:hover {
        color: mat.get-color-from-palette($accent);
      }
    }
  }
}

.hidden {
  visibility: hidden;
}
