<page-title text="Maps"></page-title>

<div class="map" *ngFor="let map of sortedMaps" (click)="onClick(map.name, image.naturalWidth, image.naturalHeight)">
  <img #image src="/assets/maps/{{map.image}}">
  <div class="caption">{{map.location}}: {{map.name}}</div>
</div>  

<div class="current">
  <div #canvas class="canvas">
    <img #current class="map" [class.hidden]="!currentMap" src="/assets/maps/{{currentMap?.image}}" 
         cdkDrag cdkDragBoundary=".canvas" (cdkDragEnded)="onDragEnd($event)">
    <div #tv class="tv"></div>
  </div>
</div>