.page {
  padding: 20px;
  margin: 0 auto;
  justify-items: center;

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 63mm);
    break-inside: avoid;
  }

  &.images {
    margin-left: 0mm;
    direction: rtl;
  }

  item-card {
    break-inside: avoid;
    position: relative;
  }
}

@media print {
  .page {
    break-after: page;
  }

  .page:last-child {
    break-after: auto;
  }

  @page {
    margin: 5mm;
  }

  .no-print {
    display: none;
  }
}
