<h1>{{ adventure()?.name }} - Miniatures</h1>

<div class="no-print">
  <mat-form-field class="available-input">
    <mat-label>Available Encounter ID RegExp</mat-label>
    <input matInput type="text" [(ngModel)]="availableRegExp" />
  </mat-form-field>
</div>

@if (adventure() && linkToPrintable()) {
  <a target="_blank" href="/summary/{{ adventure()!.campaign.name }}/adventure/{{ adventure()!.name }}"
    >as printable page</a
  >
}

<table>
  @for (location of locations(); track location) {
    <tr>
      <td class="location">{{ location }}</td>
    </tr>

    @for (mini of minisByLocation().get(location); track mini.name) {
      <tr class="row">
        <td
          class="miniature"
          [class.ok]="mini.count == 0"
          [class.above]="mini.count > 0"
          [class.below]="mini.count < 0"
        >
          {{ mini.count }} x {{ mini.name }}
        </td>
        <td class="usage">
          @for (
            usage of mini.usages;
            track `${usage.encounter?.id()}-${usage.selection.monster}-${usage.selection.miniature}`;
            let last = $last
          ) {
            <span [class.done]="usage.done" [class.available]="usage.available">
              @if (usage.encounter) {
                {{ usage.selection.count }} x {{ usage.selection.monster }} ({{ usage.encounter.name }})
              } @else {
                {{ usage.selection.monster }} (NPC)
              }
              @if (!last) {
                /
              }
            </span>
          }
        </td>
      </tr>
    }
  }
</table>

<h2 class="title">Monsters lacking Miniatures</h2>

@for (encounter of missingByEncounter().keys(); track encounter.name) {
  <div class="title">{{ encounter.id() }} - {{ encounter.name }}</div>

  @for (monster of missingByEncounter().get(encounter); track $index) {
    <div class="monster">{{ monster.name }}</div>
  }
}

<h2 class="title">NPCs</h2>
@for (npc of missingNPCs(); track npc.name) {
  <div class="monster">{{ npc.name }}</div>
}
