<div class="page">
  <h1>Miniature Labels for {{ campaign()?.adventure()?.campaign?.name }} - {{ campaign()?.adventure()?.name }}</h1>

  <div class="labels">
    @for (location of locations(); track location) {
      <div class="label">
        <div class="name">
          {{ location[0] }}
        </div>
        <div class="filters">
          @for (filter of location[1]; track filter) {
            <div class="filter">
              {{ filter }}
            </div>
          }
        </div>
      </div>
    }
  </div>

  <div class="locationLabels">
    @for (location of allLocations; track location) {
      <div class="locationLabel {{ location.style() }}">
        <div class="name">
          {{ location.name }}
        </div>
        <div class="filters">
          @for (summary of location.shortSummaries(); track summary) {
            <div>{{ summary }}</div>
          }
        </div>
      </div>
    }
  </div>
</div>
