<h1 class="no-print">Item Cards</h1>

<div class="no-print">
  <mat-form-field>
    <mat-label>Encounter ID RegExp</mat-label>
    <input matInput type="text" [(ngModel)]="encounterRegExp" />
  </mat-form-field>
</div>

@if (campaign()) {
  @for (page of pages(); track page) {
    <div class="page images">
      <div class="grid">
        @for (item of page; track item; let i = $index) {
          <item-card [item]="item.item.entity" [imageIndex]="i"></item-card>
        }
      </div>
    </div>

    <div class="page">
      <div class="grid">
        @for (item of page; track item) {
          <item-card [item]="item.item.entity" [id]="item.id"></item-card>
        }
      </div>
    </div>
  }
}
