@use "../../../../mixins.scss";

:host {
  display: flex;
  flex-direction: column;
  overflow: auto;
  @include mixins.scrollbar;
  max-height: 100%;
  padding: 20px;
}

.available-input {
  width: 400px;
}

table {
  flex: 1;
  display: block;
}

.location,
.title {
  font-weight: bold;
  font-size: 20px;
  padding: 15px 0 5px;
}

.miniature {
  padding: 0 20px;
  white-space: nowrap;

  &.done {
    text-decoration: line-through;
    color: black;

    span {
      color: #080;
    }
  }

  &.unavailable {
    color: #800;
  }

  &.ok {
    color: #080;
  }

  &.above {
    color: #800;
  }

  &.below {
    color: #008;
  }
}

.row {
  vertical-align: top;
}

.done {
  text-decoration: line-through;
  text-decoration-color: #888;
}

.available {
  color: #080;
}

.monster {
  padding-left: 20px;
}
