@if (campaign()) {
  <div class="page">
    @for (encounter of encounters(); track encounter.name()) {
      @for (item of encounter.entity()?.items; track item) {
        <item-card [item]="item.entity" [id]="encounter.entity()?.shortName || ''"></item-card>
      }
    }
  </div>

  <div class="page images">
    @for (item of items(); track item; let i = $index) {
      <item-card
        [item]="item?.entity"
        [imageIndex]="i"
        [style.order]="i % 3 === 0 ? i + 2 : i % 3 === 1 ? i : i - 2"
      ></item-card>
    }
  </div>
}
