<h1>{{ adventure()?.name }} - Miniatures</h1>

<div class="no-print">
  <mat-form-field>
    <mat-label>Availbable Encounter ID RegExp</mat-label>
    <input matInput type="text" [(ngModel)]="availableRegExp" />
  </mat-form-field>
</div>

@if (adventure() && linkToPrintable()) {
  <a target="_blank" href="/summary/{{ adventure()!.campaign.name }}/adventure/{{ adventure()!.name }}"
    >as printable page</a
  >
}

<table>
  @for (location of locations(); track location) {
    <tr>
      <td class="location">{{ location }}</td>
    </tr>

    @let mini = miniaturesByLocation().get(location);
    @for (selection of mini?.location; track selection) {
      <tr>
        <td class="miniature" [class.done]="mini?.done" [class.unavailable]="!mini?.available">
          <span
            >{{ selection.selection.count }} x <b>{{ selection.selection.miniature }}</b> ({{
              selection.selection.monster
            }})</span
          >
        </td>
        <td>{{ selection.encounter.id() }}</td>
      </tr>
    }
  }
</table>

<h2>Monsters lacking Miniatures</h2>

@for (encounter of missingByEncounter().keys(); track encounter) {
  <div class="title">{{ encounter.id() }} - {{ encounter.name() }}</div>

  @for (monster of missingByEncounter().get(encounter); track monster) {
    <div class="monster">{{ monster.name }}</div>
  }
}
