@use "../../../../mixins.scss";

:host {
  display: flex;
  flex-direction: column;
  overflow: auto;
  @include mixins.scrollbar;
  max-height: 100%;
  padding: 20px;
}

table {
  flex: 1;
  display: block;
}

.location,
.title {
  font-weight: bold;
  font-size: 20px;
  padding: 15px 0 5px;
}

.miniature {
  padding: 0 20px;
  color: #080;

  &.done {
    text-decoration: line-through;
    color: black;

    span {
      color: #080;
    }
  }

  &.unavailable {
    color: #800;
  }
}

.monster {
  padding-left: 20px;
}
