.page {
  padding: 20px;
  display: grid;
  width: 210mm;
  grid-template-columns: 1fr 1fr 1fr;

  &.images {
    margin-left: 0mm;
  }
}

@media print {
  .page {
    break-after: page;
  }

  @page {
    margin: 5mm;
  }
}
