.adventure {
  margin: auto;
  text-align: center;

  .image {
    max-height: 100px;
    max-width: 100%;
    text-align: center;
  }

  .name {
    text-align: center;
    font-weight: bold;
  }
}

.content {
  display: flex;
  align-items: center;
  overflow: auto;

  .adventures {
    display: flex;
    max-width: 650px;
    overflow-x: auto;
    padding: 20px 20px 30px 20px;
  }
}
