@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 8px;
  }

  &:hover::-webkit-scrollbar-thumb {
    background-color: #aaa;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }
}
