@use "@angular/material" as mat;
@use "variables" as var;

@include mat.all-component-themes(var.$theme);

$quote-polygon: polygon(0% 25%, 5% 0%, 95% 0%, 100% 25%, 100% 75%, 95% 100%, 5% 100%, 0% 75%);

// Basic styles.
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
  color: mat.m2-get-color-from-palette(var.$primary);
}

h2 {
  margin: 10px 0 !important;
}

// Better hover styles for buttons.
button[mat-flat-button].mat-primary:hover {
  background-color: mat.m2-get-color-from-palette(var.$accent);
}

button[mat-icon-button].mat-primary:hover {
  color: mat.m2-get-color-from-palette(var.$accent);
}

button[mat-fab].mat-primary:hover {
  background-color: mat.m2-get-color-from-palette(var.$accent);
}

button[mat-mini-fab].mat-primary:hover {
  background-color: mat.m2-get-color-from-palette(var.$accent);
}

// Styles for formmatted commands in texts.
::ng-deep {
  .format-par {
    margin-bottom: 5px;
  }

  .format-table {
    th,
    td {
      text-align: left;
      vertical-align: top;
      padding: 3px;
    }

    tr:nth-child(even) {
      background-color: #f8f8f8;
    }
  }

  .format-title {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #564b4c;
    border-bottom: 2px solid #a38555;
    margin-bottom: 2px;
  }

  .format-subtitle {
    font-weight: bold;
    font-style: italic;
    margin: 5px 5px 0 0;
    color: #4b3f26;

    &:before {
      content: "";
      display: block;
      margin-top: 5px;
    }
  }

  .format-large {
    font-size: 16px;
  }

  .format-quote {
    position: relative;
    margin: 20px auto;
    width: fit-content;

    &:before {
      position: absolute;
      content: "";
      inset: 6px;
      z-index: 1;
      border: 2px solid #936d58;
      border-radius: 20px;
      background-color: transparent;
    }

    .format-quote-content {
      padding: 20px 40px;
      background-color: #936d58;
      color: #936d58;
      font-variant: small-caps;
      width: 450px;
      box-sizing: border-box;
      clip-path: $quote-polygon;
      position: relative;

      &:after {
        position: absolute;
        content: "";
        inset: 2px;
        z-index: -1;
        background-color: #f9f6f3;
        clip-path: $quote-polygon;
      }

      .format-quote-source {
        margin: 10px 0 0;
        text-align: right;
      }
    }
  }
}

.prefix-comma::before {
  content: ", ";
  margin-left: -4px;
}

.postifx-dot::before {
  content: ". ";
  margin-left: -4px;
}

.postifx-semicolon::before {
  content: "; ";
  margin-left: -4px;
}

.postfix-negative::after {
  content: "";
  margin-left: -4px;
}

.postfix-comma::after {
  content: ", ";
}
