@use "@angular/material" as mat;
@import "variables";

@include mat.all-component-themes($theme);

// Basic styles.
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
  color: mat.m2-get-color-from-palette($primary);
}

h2 {
  margin: 10px 0 !important;
}

// Better hover styles for buttons.
button[mat-flat-button].mat-primary:hover {
  background-color: mat.m2-get-color-from-palette($accent);
}

button[mat-icon-button].mat-primary:hover {
  color: mat.m2-get-color-from-palette($accent);
}

button[mat-fab].mat-primary:hover {
  background-color: mat.m2-get-color-from-palette($accent);
}

button[mat-mini-fab].mat-primary:hover {
  background-color: mat.m2-get-color-from-palette($accent);
}

// Styles for formmatted commands in texts.
::ng-deep {
  .format-par {
    margin-bottom: 5px;
  }

  .format-table {
    th,
    td {
      text-align: left;
      vertical-align: top;
      padding: 3px;
    }

    tr:nth-child(even) {
      background-color: #f8f8f8;
    }
  }

  .format-title {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #564b4c;
    border-bottom: 2px solid #a38555;
    margin-bottom: 2px;
  }

  .format-subtitle {
    font-weight: bold;
    margin-top: 5px;
    font-size: 16px;
    color: 1 #4b3f26;
  }

  .format-large {
    font-size: 16px;
  }
}
