/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@include mat.core();

$primary-palette: (
  50: #e4e5f0,
  100: #bcbedb,
  200: #9195c2,
  300: #676daa,
  400: #484f99,
  500: #283389,
  600: #232c80,
  700: #1a2375,
  800: #111a6a,
  900: #000955,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  ),
);

$accent-palette: (
  50: #f3f4e2,
  100: #e0e3b6,
  200: #cbd187,
  300: #b7bf5b,
  400: #a9b33a,
  500: #9ca810,
  600: #91990d,
  700: #818506,
  800: #716f03,
  900: #554c00,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  ),
);

$primary: mat.define-palette($primary-palette, 900);
$accent: mat.define-palette($accent-palette, 500);
$warn: mat.define-palette(mat.$red-palette);

$theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);

@include mat.all-component-themes($theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

h1 {
  color: mat.get-color-from-palette($primary);
}

h2 {
  margin: 10px 0 !important;
}

.mat-flat-button.mat-primary:hover {
  background-color: mat.get-color-from-palette($accent);
}

.mat-icon-button.mat-primary:hover {
  color: mat.get-color-from-palette($accent);
}

.mat-fab.mat-primary:hover {
  background-color: mat.get-color-from-palette($accent);
}

.mat-mini-fab.mat-primary:hover {
  background-color: mat.get-color-from-palette($accent);
}

::ng-deep {
  .format-par {
    margin-bottom: 5px;
  }

  .format-table {
    th,
    td {
      text-align: left;
      vertical-align: top;
      padding: 3px;
    }

    tr:nth-child(even) {
      background-color: #f8f8f8;
    }
  }

  .format-title {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #564b4c;
    border-bottom: 2px solid #a38555;
    margin-bottom: 2px;
  }

  .format-subtitle {
    font-weight: bold;
    margin-top: 5px;
    font-size: 16px;
    color: 1 #4b3f26;
  }
}
