<div class="content">
  <monster [monster]="monster" [overview]="false" [campaign]="campaign"></monster>
  <div>
    <div class="image-container" *ngFor="let image of monster.images">
      <img class="image" [src]="image.startsWith('http') ? image : '/assets/monsters/'+ image" />
      <screen-image-button
        *ngIf="campaign"
        [campaign]="campaign"
        [image]="image.startsWith('http') ? image : '/assets/monsters/'+ image"
      ></screen-image-button>
    </div>
    <formatted-text class="description" [text]="monster.description"></formatted-text>
  </div>
</div>
