.container {
  position: relative;

  .journal {
    .entry {
      margin-bottom: 5px;
      padding: 5px;
      border-radius: 4px;
      border: 1px solid transparent;
      position: relative;

      &:hover {
        border-radius: 4px;
        border-color: #a44;

        button {
          display: block;
        }
      }

      button {
        position: absolute;
        right: 0;
        top: 0;
        display: none;
      }

      .date {
        display: inline-block;
        font-weight: bold;
        margin-right: 10px;
        width: 100px;
      }

      .notes {
        display: inline-block;
        vertical-align: top;
        width: 260px;

        .note {
          margin-bottom: 5px;
        }

        input {
          width: 255px;
        }
      }
    }
  }
}
