@use "../../colors.scss";

.link {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  &.monster {
    color: colors.$color-monster;
  }

  &.spell {
    color: colors.$color-spell;
  }

  &.item {
    color: colors.$color-item;
  }

  &.god {
    color: colors.$color-god;
  }

  &.place {
    color: colors.$color-place;
  }

  &.npc {
    color: colors.$color-npc;
  }

  &.condition {
    color: colors.$color-condition;
  }

  &.glossary {
    color: colors.$color-glossary;
  }
}
