@import "../../colors.scss";

.link {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  &.monster {
    color: $color-monster;
  }

  &.spell {
    color: $color-spell;
  }

  &.item {
    color: $color-item;
  }

  &.god {
    color: $color-god;
  }

  &.place {
    color: $color-place;
  }

  &.npc {
    color: $color-npc;
  }

  &.condition {
    color: $color-condition;
  }

  &.glossary {
    color: $color-glossary;
  }
}
